Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTP_HOST} ^slamdunkdigital.com$ [NC]
RewriteRule ^(.*)$ http://www.slamdunkdigital.com/$1 [R=301,L]

ErrorDocument 404 http://slamdunkdigital.com/404.html