@import '../../bower_components/neat/app/assets/stylesheets/neat-helpers';
// Override the grid
$column: 39px;
$gutter: 0px;
$grid-columns: 12;
$max-width: 1024px;

// Define your breakpoints
$desktop-lrg: new-breakpoint(min-width 1200px);
$desktop-med: new-breakpoint(max-width 1030px);
$desktop-sml: new-breakpoint(max-width 867px);
$tablet: new-breakpoint(max-width 768px);
$mobile: new-breakpoint(max-width 667px);

$visual-grid: true;
$visual-grid-color: red;
$visual-grid-index: front;
$visual-grid-opacity: 0.1;