// Run from root of project: sass --watch assets/sass/styles.scss:assets/css/styles.css
@import "../../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "grid-settings";
@import "../../bower_components/neat/app/assets/stylesheets/neat";
@import "grid-settings";
@import "partials/_base";
@import "partials/_mixins";
@import "partials/_typography";
@import "partials/_layout";
@import "modules/_hamburger";
@import "modules/_nav-overlay";
@import "vendor/_animations";
@import "vendor/_work-view";
@import "vendor/_loader";


// NAV MINI
#nav-mini {
	position: fixed;
	top: 50%;
	left: -15px;
	z-index: 1;
	margin-top: -50px;

	li {
		display: block;
		width: 10px;
		height: 10px;			
		margin-bottom: 10px;
		a {
			display: block;
			width: 10px;
			height: 10px;
			background-color: $white;
			border-radius: 10px;
			text-decoration: none;
		}

		a.black:hover, a.black.active { background-color: $black; border: 1px solid $white;}
		a.yellow:hover, a.yellow.active { background-color: $yellow; border: 1px solid $white;}
		a.red:hover, a.red.active { background-color: $red;}
		a.green:hover, a.green.active { background-color: $green;}
		a.blue:hover, a.blue.active { background-color: $blue;}
	}
}

#nav-mini.darkNav {
	li a {
		background-color: $black;
	}
}

// HOME SECTION
#bg-home {
	position: relative;
	background-color: $black;
}

#home {
	background-color: $black;
	color: $white;

    // Social media links
    #social-links {
    	position: absolute;
    	z-index: 100;
    	top: 0;
    	right: 90px;

        li {
        	float: left;
            margin: 0 10px 0 0;

	        a {
	            color: $white;

	            i {
	            	font-size: rem(24);
	            }
	        }
	                
	        a:hover {
	            color: $blue;
				@include hover-links();	            
	        }  
        }
    }

    #social-links ul#share-me {	
        position: absolute;
        top: 55px;
        right: -30px;
        height: auto;
        width: 320px;
        padding: 0;

        li {
            display: block;
            width: auto;          
        }
    }

	#slogan {
		//display: none;
		width: 700px;
		position: absolute;
		top: 55%;
		left: 50%;
		transform: translate(-50%, -55%);

		p {
			font-family: $font-med;
			font-size: rem(80);
			font-weight: bold;
			text-transform: uppercase;
			line-height: .95em;
			margin: 20px 0 13px;
			padding: 0;

			span {
				font-size: inherit;
			}
		}

		span {
			font-family: $font-text;
			font-size: rem(45);
			font-style: italic;
		}

		span#all-the-time {
			font-size: rem(35);
		}
	}

    // Mouse scroll down animate
    #mouse-scroll {
        position: absolute;
        bottom: 2%;
        left: 50%;
        display: block;
        margin: 15px auto 15px auto;
        width: 25px;
        height: 72px;
        background-image: url(../img/global/iconMouseDown.png);
        clear: both;
        cursor: pointer;
    }

        .fa-angle-down {
            display: none;
            position: absolute;        
            left: -1px; 
            color: #ddd;
        }

            .angle-down-1 {            
                bottom: -5px;            
            }

            .angle-down-2 {
                bottom: -15px;
            }

        .icon-animate,
        .icon-animate:before {
            position: absolute;
            top: 0;
        }
         
        .icon-animate {
            width: 25px;
            height: 45px;
            top: 0%;
            border-radius: 20px;
        }
         
        .icon-animate:before {
            content: '';
            width: 5px;
            height: 5px;
            background: $white;
            margin-left: 10px;
            top: 10px;
            border-radius: 3px;
              -webkit-animation-duration: 1s;
                animation-duration: 1s;
              -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
              -webkit-animation-name: scroll;
                animation-name: scroll;
            }
         
        @-webkit-keyframes scroll {
            0% {
                opacity: 1;
            }
            100% {
                opacity: 0;
            -webkit-transform: translateY(20px);
                transform: translateY(20px);
            }
        }
		
		// EMMITER SECTION: Fountain of colors
		canvas { 
			position: fixed;
			top: 50%;
			left: 0;
			transform: translate(-50%, -50%);
			z-index: -1;
		}        	
}

// WHAT WE DO SECTION
#what-we-do-outer {
	overflow: hidden;
	height: 1300px;
}

#what-we-do {
	position: relative;
    @include clearfix;

	.intro {
		font-size: rem(21);
		font-family: $font-thick;
		line-height: 1.2;
	}

	.col {
		p {
		    position: relative;
		    z-index: 2;
		}
	}

	.col-skew {
		padding: 25px 30px 25px 65px;
		background-color: $yellow;
	}

	.col-skew:after {
	    content:"";
	    position:absolute;
	    z-index:1;
	    top:0;
	    bottom:0;
	    left:38%;
	    width:18%;
	    background: $yellow;
	    -webkit-transform:skewX(-8deg);
	    	transform:skewX(-8deg);
	}

	.col-no-skew {
		background-color: $black;

		.pe-thumbs {
			margin: 0;
			padding: 0;
		}
		
		.pe-thumbs li {
			img {
				display: block;
				width: 100%;
				height: 100%;
			}
		}

		.pe-thumbs li a,
		.pe-thumbs li a img {
			display: block;
			position: relative;
		}
		.pe-thumbs li a img {
			opacity: 1;
			height: 125px;
		}
		
		.pe-thumbs li a div.pe-description {
			width: 200px;
			height: 100px;
			background: rgba(0,0,0,0.8);
			position: absolute;
			top: 0px;
			left: -200px;
			color: white;
			display: block;
			z-index: 1001;
			text-align: left;
		}

		.pe-description h2 {
			padding: 10px 10px 0px 10px;
			line-height: 20px;
			font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
			text-transform: uppercase;
			font-size: rem(16);
			margin: 0px;
		}
		.pe-description p {
			padding: 10px 0px;
			margin: 10px;
			font-size: rem(12);
			font-style: italic;
			border-top: 1px solid rgba(255,255,255,0.3);
		}
	}
}


// WORK SECTION
#work {
	h1:after {
		float: right;
		text-align: right;		
		right: 25px;
	 	width: 72%;		
	}
}

#work {
	.row {		
		.view {
			background-color: $black;
	    		
	    		img {
	    			display: block;
	    			width: 100%;
	    			height: auto;
	    		}			    		
		}

		.mask {
			//display: none!important;
		}

	}
}

#clients {
	.row {		
		.client {
    		img {
    			display: block;
    			width: 100%;
    			height: auto;
    		}
		}
	}
}

// CONTACT SECTION
#map {
	margin-top: 30px;
	width: 100%;
	height: 375px;
	    
	    #map-info {
	        padding: 5px 0 0 20px; 
	        h1 {
	            margin: 0;
	            font-size: rem(20);
	            font-family: 'Open Sans', Arial, sans-serif;
	            font-weight: 400;
	            color: $blue;
	        }

	        p {
	            line-height: 1;
	            margin: 8px 0;
	        }

	        a {
	            color: $blue;
	            line-height: 1.2;
	        }

	        a:hover {
	        	text-decoration: none;
	        }
	    }
}


#contact-info {
	margin: 30px auto;
}

#offices,
#get-in-touch,
#follow-us {
	min-height: 200px;

	h1:after {
		height: 3px;
		bottom: -3px;
	}

	a {
		color: $black;
		padding: 2px 5px;
	}
}

#offices i {
	padding-right: 5px;
}

#get-in-touch a:hover, 
#offices a:hover {
	text-decoration: none;
	background-color: $blue;
	color: $white;
	padding: 2px 5px;
	@include hover-links();
}

#follow-us ul { 
	padding: 0;
	li {
		text-align: center;
	}
	i {
		position: relative;
		margin-right: 15px;
		a {
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			width: 100%;
			height: 100%;
		}
	}

	i:hover {
		color: #0074c0;
		@include hover-links();
	}

}

// FOOTER SECTION
#footer-outer {
	width: 100%;
	background-color: $black;
}

footer {
	min-height: 285px;
	background-color: $black;

	.col {
		min-height: 285px;
		padding: 25px 0;
	}

	p, i, a {
		font-size: rem(12);
		color: $white;
		font-family: Verdana, Arial, sans-serif;
	}
	
	ul {
		li {
			i {
				position: relative;
				margin-left: 10px;
					a {
						position: absolute;
						top: 0;
						left: 0;
						display: block;
						width: 100%;
						height: 100%;
					}
			}

			i:hover {
				color: #0074c0;
				@include hover-links();
			}
		}
	}
	
	#footer-logo {
		font-size: 30px;
		font-family: $font-thick;
		text-transform: uppercase;
		line-height: 1em;
		margin: 0;
	}

	#footer-info {
		a:hover {
			color: $blue;
			text-decoration: none;
		}
	}

	#copyright {
		box-sizing: border-box;
		padding-top: 112px;
	 	text-align: right;
	}

	#border-right {
		padding-right: 15px;
		border-right: 10px solid $blue;
	}
}