// Run from root of project: sass --watch assets/sass/styles.scss:assets/css/styles.css
@import "../../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "grid-settings";
@import "../../bower_components/neat/app/assets/stylesheets/neat";
@import "grid-settings";
@import "partials/_base";
@import "partials/_mixins";
@import "partials/_typography";
@import "partials/_layout";
@import "modules/_hamburger";
@import "modules/_nav-overlay";
@import "modules/_cs-themes";
@import "modules/_case-study";
@import "vendor/_animations";
@import "vendor/_work-view";
@import "vendor/_loader";
@import "vendor/_section-scroll";
@import "vendor/_bxslider";
@import "vendor/_slinky";
@import "vendor/_lightbox";

// NAV MINI
#nav-mini {
	position: fixed; 
	top: 50%;
	left: -30px;
	z-index: 3;
	margin-top: -50px;

	li {
		display: block;
		width: 10px;
		height: 10px;
		margin-bottom: 13px;

		a {
			display: block;
			width: 12px;
			height: 12px;
			background-color: $white;
			border-radius: 12px;
			text-decoration: none;
			border: 1px solid $white;
		}
	}

	a.black:hover, li.active a.black { background-color: $black;}
	a.yellow:hover, li.active a.yellow { background-color: $yellow;}
	a.red:hover, li.active a.red { background-color: $red;}
	a.green:hover, li.active a.green { background-color: $green;}
	a.blue:hover, li.active a.blue { background-color: $blue;}
}

#nav-mini.darkNav {
	li a {
		background-color: $black;
	}
}

#back-to-top {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 100;
	height: 33px;
	width: 40px;
	background: $white url(../img/global/iconArrowUpDark.png) center center no-repeat;
	border: none;
	outline: 0;
	opacity: 0.6;
	display: none;
}

	#back-to-top.buttonTopPulse {
	    @keyframes buttonTopPulse {
			0% { opacity: 0;}
			50% { opacity: 0.5;}
			90% { opacity: 1;}
			100% { opacity: 0.6;}
	    }

		animation: buttonTopPulse 200ms;
		animation-iteration-count: 5;
			-webkit-animation-iteration-count: 5;
	}

	#back-to-top:hover {
		opacity: 1;
		@include hover-links();
	}

// Section Scroll Down
#section-what-we-do,
#who-we-are-outer,
#section-work,
#section-clients {
	.scroll-down {
		position: relative;
		z-index: 2000;
		float: none;

		@-webkit-keyframes arrow-jump {
			0%   { opacity: 0;}
			100% { opacity: 1;
				// -webkit-transform: translateY(10px);
				// 	-moz-transform: translateY(10px);
				// 		-o-transform: translateY(10px);
				// 			transform: translateY(10px);
			}
		}

		a {
			margin: 50px auto 25px auto;
			display: block;
			width: 100%;
			height: 25px;
			padding-top: 40px;
			font-size: 0.75rem;
			text-align: center;
			text-decoration: none;
			color: $black;
			line-height: 1.75em;
			clear: both;
			background: url(../img/global/iconArrowDown.png) no-repeat center center;				
			@include hover-links();
				-webkit-animation: arrow-jump ease-in-out 1.2s infinite; /* Safari 4+ */
				-moz-animation:    arrow-jump ease-in-out 1.2s infinite; /* Fx 5+ */
				-o-animation:      arrow-jump ease-in-out 1.2s infinite; /* Opera 12+ */
				animation:         arrow-jump ease-in-out 1.2s infinite; /* IE 10+, Fx 29+ */
		}

		a:hover {
		    -webkit-animation-play-state: paused;
		    -moz-animation-play-state: paused;
		    -o-animation-play-state: paused;
		    animation-play-state: paused;
		}
	}
}

// Arrow scroll down in white for clients section
#section-what-we-do,
#section-clients {
	.scroll-down {
		a {
			background: url(../img/global/iconArrowDownWhite.png) no-repeat center center;
			color: $white;
		}
	}
}

#section-clients {
	.scroll-down {
		a {
			margin-top: 10px;	
		}		
	}
}

// HOME SECTION
#bg-home {
	position: relative;
	background-color: $black;
}

// Static bg image for mobile devices see emitter.js for isMobile()
.isMobile-home-bg {
	background: url(../img/global/bg-emitter.png) -94px center no-repeat;
	background-size: contain;
}

#section-home,
#site-header {
	background-color: $black;
	color: $white;

	a {
		text-decoration: none;
		color: #FFF;
	}

    // Social media links
    #social-links {
    	position: absolute;
    	z-index: 100;
    	top: -9px;
    	right: 55px;

        li {
        	position: relative;
        	float: left;
        	list-style-type: none;
            margin: 0 0 0 8px;
            font-size: rem(13);

			.share-text {
				position: absolute;
				left: -60px;
	        	font-family: $font-thick;
	        	text-transform: uppercase;
	        	line-height: 1.9em;
			}

	        a {
	            color: $white;

	            i {
	            	margin-right: 5px;
	            }
	        }

	        a:hover {
	            color: $blue;
				@include hover-links();
	        }
        }
    }

    #social-links ul#share-me {
        position: absolute;
        top: 38px;
        right: -3px;
        height: auto;
        width: 215px;
        padding: 0;

        li {
            display: block;
            width: auto;
            float: right;
        }

        li:nth-child(2n) {
        	margin-top: 3px;
        }
    }

	#slogan {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 55%;
		transform: translate(-50%, -55%);

		#intro-parallax.active {
			position: absolute;
			width: 100%;
			top: -125px;		
		}

		p {
			font-family: $font-med;
			font-size: rem(80);
			font-weight: bold;
			text-transform: uppercase;
			line-height: .95em;
			margin: 20px 0 13px;
			padding: 0;

			span {
				font-size: inherit;
			}
		}

		span {
			display: inline-block;
			font-family: $font-text;
			font-size: rem(35);
			font-style: italic;
		}

		span#all-the-time {
			font-size: rem(35);
		}
	}

    // Mouse scroll down animate
    #mouse-scroll {
        position: absolute;
        bottom: 2%;
        left: 50%;
        display: block;
        margin: 15px 0 15px -12px;
        width: 25px;
        height: 72px;
        background-image: url(../img/global/iconMouseDown.png);
        clear: both;
        cursor: pointer;
    }

        .fa-angle-down {
            display: none;
            position: absolute;
            left: -1px;
            color: #ddd;
        }

            .angle-down-1 {
                bottom: -5px;
            }

            .angle-down-2 {
                bottom: -15px;
            }

        .icon-animate,
        .icon-animate:before {
            position: absolute;
            top: 0;
        }

        .icon-animate {
            width: 25px;
            height: 45px;
            top: 0%;
            border-radius: 20px;
        }

        .icon-animate:before {
            content: '';
            width: 5px;
            height: 5px;
            background: $white;
            margin-left: 10px;
            top: 10px;
            border-radius: 3px;
              -webkit-animation-duration: 1s;
                animation-duration: 1s;
              -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
              -webkit-animation-name: scroll;
                animation-name: scroll;
            }

        @-webkit-keyframes scroll {
            0% {
                opacity: 1;
            }
            100% {
                opacity: 0;
            -webkit-transform: translateY(20px);
                transform: translateY(20px);
            }
        }

		// EMMITER SECTION: Fountain of colors
		canvas {
			position: fixed;
			top: 50%;
			left: 0;
			transform: translate(-50%, -50%);
			z-index: -1;
		}
}


// WHAT WE DO SECTION
#section-what-we-do-outer {
	overflow: hidden;
	position: relative;
	min-height: 1000px;
	background: #000 url(../img/what-we-do/bg_dark_laptop.jpg) no-repeat center 25px;
		
		@include media($mobile) {
			background-size: 125%;
		}	
}	

#section-what-we-do {
	header {
		margin-top: 425px;
		
			@include media($mobile) {
				margin-top: 225px;
			}		
	}

	.col {
		color: white;
		
			h2 {
				font-size: rem(14);
				color: $blue;
				text-align: center;
				text-transform: uppercase;
			}

			p {
				text-align: center;
			}
			
			strong {
				background: $blue;
				padding: 5px;
			}

			i {
				display: block;
				text-align: center;
			}
			
			ul {
				padding-left: 20px;	
					
					ul {
						margin-top: 10px;
					}				
			}

			li {
				margin-bottom: 10px;
			}

			.what-we-do-cta {
				cursor: default;
			}
	}	
	
	.packages .col {
		h2 {
			color: $white;
			padding: 8px;
			background: $blue;
		}	

		p {
			text-align: left;
			padding: 0 1%;
		}

		.site-example {
			padding: 2px 5px;
			background: $green;
			color: $white;
			
				&:hover {
					background: $white;
					color: $black;
					text-decoration: none;
				}
		}		
	}

	footer {
		float: left;
		padding: 50px 0 35px 0;

			@include media($mobile) {
				padding: 0;
			}			
	
		p {
			text-align: center;
			font-size: rem(24);
			font-family: $font-thick;
			width: 75%;
			margin: 3% 12.5% 0 12.5%;
			clear: both;
			line-height: 1.3em;
			
				@include media($mobile) {
					width: 92%;
					margin: 3%;
				}			
		}

		.contact-cta {
			margin: 0 auto;
			
			@include media($mobile) {
				margin: 0 auto 30px auto;
			}			
		}
	}	
}





// WHO WE ARE SECTION
#who-we-are-outer {
	@include particles;
}

#section-who-we-are {
	overflow: hidden;
	position: relative;
	height: 1000px;
	background-color: #fc3;
    @include clearfix;

	#specialties ul {
		float: left;
		margin-top: 20px;
	}

	#specialties p {
		clear: both;
	}

	.intro,
	#specialties li {
		font-size: rem(21);
		font-family: $font-thick;
		line-height: 1.2;
		margin-bottom: 0;
	}

	#specialties li {
		margin-bottom: 15px;
		background-color: $white;
		color: $white;
		padding: 5px;

		span {
			color: $black;
		}
	}

	.col {
		header, p,
		#specialties ul {
		    position: relative;
		    z-index: 3;
		}

		img {
			width: 100%;
			height: auto;
		}
	}

	h1 {
		padding-right: 0;
	}

	// Trigger show hide text in what we do
	.show-hide {
		position: relative;
		float: right;
		display: block;
		z-index: 30;
		font-size: 3rem;
	 	color: $black;

	 	&:hover {
			color: $white;
			@include hover-links;
	 	}
	}

	// Default hidden
	#specialties {
		display: none;
	}

	.col-skew {
		padding: 2% 4%;
		background-color: #fc3;
	}

	.col-skew:after {
	    content:"";
	    position:absolute;
	    z-index:1;
	    top:0;
	    bottom:0;
	    left:25%;
	    width:30%;
	    background: #fc3;
	    -webkit-transform:skewX(-8deg);
	    	transform:skewX(-8deg);
	}

	.col-no-skew {
		background-color: $black;

		.pe-thumbs {
			margin: 0;
			padding: 0;
		}

		.pe-thumbs li a,
		.pe-thumbs li a img {
			display: block;
			position: relative;
			cursor: default;
		}

		.pe-thumbs li a img {
			opacity: 0.5;
		}

		.pe-thumbs li a div.pe-description {
			width: 200px;
			height: 100px;
			background: rgba(0,0,0,0.8);
			position: absolute;
			top: 0px;
			left: -200px;
			color: white;
			display: none!important;
			z-index: 1001;
			text-align: left;
		}

		.pe-description h2 {
			padding: 10px 10px 0px 10px;
			line-height: 20px;
			font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
			text-transform: uppercase;
			font-size: rem(16);
			margin: 0px;
		}
		.pe-description p {
			padding: 10px 0px;
			margin: 10px;
			font-size: rem(12);
			font-style: italic;
			border-top: 1px solid rgba(255,255,255,0.3);
		}
	}
}

// Switch bg color styling of this section
#section-who-we-are.switch-text {
	background-color: $black;
	@include hover-links;

	h1:after {
		background-color: $white;
	}

	.col-skew {
		background-color: $black;
		color: $white;
		@include hover-links;

		&:after {
			background-color: $black;
			@include hover-links;
		}

		#about {
			display: none;
			@include hover-links;
		}

		#specialties {
			display: block;
		}
	}
}



// CASE STUDY SECTION

// Site Header for Pages
#site-header-outer	{
	background-color: $black;

	#site-header {
		@include clearfix;
		margin-bottom: 0;
		padding-bottom: 10px;
		
			h1 {
				a span {
					display: block;
					background: $red;
					padding: 2px 5px;
					font-size: 1.6rem;
				}
			}
	}
}

// Top left and right columns
#case-study-intro {
    @include row( $display: default);
    margin: 0;
}

#intro-content {
    @include span-columns(6 of 12, block-collapse);
    min-height: 200px;
    position: relative;
    z-index: 1;
	float: right;

    article {
        float: left;
        width: 80%;
        margin-left: 13%;
        padding: 30px 0;

        h1, p {
            color: $white;
        }

        h1 {
            font-size: rem(60);
            font-weight: 600;
            text-transform: uppercase;
            line-height: 1em;
            margin: 0;
        }

		p {
			font-family: $font-med;
			font-size: rem(16);
			line-height: 1.2em;
			margin: 10px 0 13px;
			padding: 0;
			text-transform: uppercase;

			span {
				font-size: inherit;
			}
		}
    }
}

#intro-bg-img {
    width: 50%;
    min-height: 350px;
    position: absolute;
    left: 0;
}

	.stars {
		position:absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
		width:100%;
		height:100%;
		display:block;
		background: url(../img/case-study/stars.png) repeat top center;
		z-index:0;
	}


#intro-bg-color {
    position: absolute;
    right: 0;
    z-index: 0;
    width: 50%;
    min-height: 350px;
    background: $black url(../img/case-study/bg-emitter.png) center center no-repeat;
}

// Case Study Navigation
#case-study-nav {
	width: 100%;
	position: relative;
	height: 40px;
	overflow: hidden;

	.col {
		a {
			position: relative;
			display: block;
			z-index: 1;
			width: 100%;
			color: $white;
			text-decoration: none;
			background: rgba(0, 0, 0, 0.5);

			i {
				display: block;
				margin: 0 auto;
				width: 32px;
				line-height: 42px;
			}
		}

		a:hover {
			background: rgba(255, 255, 255, 0.7);
			@include hover-links();

			i {
				color: $black;
				-webkit-transition: all 800ms ease;
					-moz-transition: all 800ms ease;
						-ms-border-radius: all 800ms ease;
							transition: all 800ms ease;
			}
		}

		a.buttonPulse {
		    @keyframes buttonPulse {
				0%   {color: $black;}
				50% {color: $white;}
				100% {color: $black;}
		    }

		    i {
				animation: buttonPulse 200ms;
				animation-iteration-count: 5;
					-webkit-animation-iteration-count: 5;
		    }
		}

		a.go-all i {
			line-height: 46px;
		}
	}

	.stars,
	.twinkling {
		background-color: $black;
		position: relative;
		z-index: 0;
	}
}



// Case study content / Constellations / images
#case-study-outer {
	height: auto;

	#case-study {
		position: relative;
		@include clearfix;

		p, li {
			position: relative;
			z-index: 3;
			clear: none;
		}

		.col-skew {
			padding: 25px 2% 2% 3%;
		}

		.col-skew:after {
			display: none;
		    content:"";
		    position:absolute;
		    z-index:1;
		    top: 0;
		    bottom: 0;
		    -webkit-transform:skewX(-8deg);
		    	transform:skewX(-8deg);
		}

		// Left column
		#case-study-info {
			a {
				font-size: inherit;
				padding: 3px;
			}

			a:hover {
				text-decoration: none;
				color: $black;
			}

			p a:hover {
				background-color: $white;
				color: $black;
			}

			.inline {
				float: left;
				margin: 0 10px 0 0;
				width: auto;
				@include clearfix;
			}

			header {

				h2 {
					float: left;
					margin: 0 10px 0 0;
				}

				p {
					float: left;
					margin: 0;
					width: auto;
				}
			}
			@include particles;
		}// End of case study info

		// Right column
		#case-study-img {
		     p {
		     	margin-top: 35px;
		     }

			img {
				display: block;
				margin: 0 auto;
				width: 100%;
				height: auto;
			}
		}
	}
}

// Hide nav mini
.page-case-study #nav-mini {
	display: none;
}



// WORK SECTION
#section-work {
	h1:after {
		float: right;
		text-align: right;
		right: 25px;
	 	width: 72%;
	}
}

#section-work {
	.row {
		.view {
			background-color: $black;

	    		img {
	    			display: block;
	    			width: 100%;
	    			height: auto;
	    		}

	    	// &:last-child {
	    	// 	display: none;
	    	// }
		}
	}
}

#section-clients {
	background: url(../img/clients/client_bg.png) no-repeat center 360px;
	.row {
		.client {
			position:relative;

    		img {
				display: block;
				width: 100%;
				height: auto;
    		}

    		img.top,
    		img.bottom {
				position:absolute;
				top: 0;
				left:0;
				-webkit-transition: opacity .5s ease-in-out;
					-moz-transition: opacity .5s ease-in-out;
						-o-transition: opacity .5s ease-in-out;
							transition: opacity .5s ease-in-out;
							-webkit-backface-visibility: hidden;
    		}

			img.top:hover {
				opacity:0;
			}
		}
	}
}

// CONTACT SECTION
#map {
	margin-top: 30px;
	width: 100%;
	height: 375px;

	    #map-info {
	        padding: 5px 0 0 20px;
	        h1 {
	            margin: 0;
	            font-size: rem(20);
	            font-family: 'Open Sans', Arial, sans-serif;
	            font-weight: 400;
	            color: $blue;
	        }

	        p {
	            line-height: 1;
	            margin: 8px 0;
	        }

	        a {
	            color: $blue;
	            line-height: 1.2;
	        }

	        a:hover {
	        	text-decoration: none;
	        }
	    }
}


#contact-info {
	margin: 30px auto;
}

#offices,
#get-in-touch,
#follow-us {
	min-height: 200px;

	h1:after {
		height: 3px;
		bottom: -3px;
		background-color: red;
	}

	a {
		color: $black;
		padding: 2px 5px;
	}
}

#offices i {
	padding-right: 5px;
}

#get-in-touch a:hover,
#offices a:hover {
	text-decoration: none;
	background-color: $blue;
	color: $white;
	padding: 2px 5px;
	@include hover-links();
}

#follow-us ul {
	padding: 0;
	li {
		text-align: center;
		list-style-type: none;
		margin-bottom: 10px;
	}
	i {
		position: relative;
		margin-right: 15px;
		a {
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			width: 100%;
			height: 100%;
		}
	}

	i:hover {
		color: #0074c0;
		@include hover-links();
	}

}

// QUICK MESSAGE SECTION
#quick-message {
	position: relative;
	padding: 25px 0;
	background: url(../img/global/bg-worldmap.png) center center;
	// background-size: cover;
	background-color: #054B79;

	#contact-form {
	    position: relative;
	    z-index: 1;
	    margin: 20px auto 0 auto;
	    width: 50%;
	    //background-color: rgba(255, 255, 255, 0.2);

	    fieldset {
	        border: none;
	    }

	    legend {
	        color: $white;
	        margin-bottom: 30px;
	    }

	    p {
	        position: relative;
	        margin-bottom: 20px;
	    }

	    input, textarea {
	        width: 100%;
	        height: 40px;
	        padding: 0 10px;
	        background-color: transparent;
	        border: 0;
	        border-bottom: 2px solid $white;
	        color: $white;
	        -webkit-appearance: none;
	    }

	        span {
	            position: absolute;
	            bottom: 0;
	            left: 0;
	            display: block;
	            width: 0%;
	            height: 2px;
	            border-bottom: 2px solid $red;
	            background-color: $red;
	                -moz-transition: width 0.5s ease;
	                    -webkit-transition: width 0.5s ease;
	                        transition: width 0.5s ease;
	        }

	        label {
	            position: absolute;
	            right: 0;
	            display: block;
	            color: $white;
	            font-size: 0.8rem;
	        }

			#hiddenRecaptcha-error {
				position: relative;
				text-align: center;
				margin-top: 10px;
				color: $white;
			}

	    #textarea span {
	        bottom: 6px;
	    }

	    input,
	    input[type=submit],
	    textarea,
	    button,
	    select,
	    option {
	        // Remove focus glow
	        outline-color: transparent;
	        outline-style: none;
	    }

	    textarea {
	        height: 40px;

	        -webkit-transition: height 0.3s;
	        -o-transition: height 0.3s;
	        transition: height 0.3s;
	    }

	    textarea:focus {
	        height: 150px;
	    }

	    // Change color for textarea placeholder (value)
	    ::-webkit-input-placeholder { color: $white;}
	    ::-moz-placeholder {color: $white;}
	    :-ms-input-placeholder { color: $white;}
	    :-o-input-placeholder { color: $white;}

	    #btn-submit {
	        margin-top: 15px;
	        width: auto;
	        font-size: rem(25);
	        color: #FFF;
	        text-transform: uppercase;
	        background-color: transparent;
	        border: 3px solid $white;
	        height: 60px;
	        padding: 7px 15px;
	        line-height: 40px;
	        border-radius: 5px;
	    }

	    #btn-submit:hover {
	        background-color: $blue;
	        border: 3px solid $blue;
	        border-radius: 5px;
	    }

		.g-recaptcha {
			width: 300px;
			margin: 0 auto;
			padding-top: 10px;
		}


	}
}

// FOOTER SECTION
#footer-outer {
	width: 100%;
	background-size: cover;
	background-color: $black;
}

footer {
	height: auto;

	.col {
		padding: 25px 0 10px;
	}

	p, i, a {
		font-size: rem(12);
		color: $white;
		font-family: Verdana, Arial, sans-serif;
	}

	ul {
		li {
			i {
				position: relative;
				margin-left: 10px;
					a {
						position: absolute;
						top: 0;
						left: 0;
						display: block;
						width: 100%;
						height: 100%;
					}
			}

			i:hover {
				color: #0074c0;
				@include hover-links();
			}
		}
	}

	#footer-logo {
		font-size: 24px;
		font-family: $font-thick;
		text-transform: uppercase;
		line-height: 1em;
		margin: 0;
	}

	#footer-info,
	#copyright-info p {
		a:hover {
			color: $blue;
			text-decoration: none;
		}
	}

	#copyright {
		display: table;
		height: auto;
		height: 100%;
	 	text-align: right;
	}

	#copyright-info {
		position: relative;
		display: table-cell;
		height: 140px;
		vertical-align: bottom;
		padding-right: 20px;

			#border-blue {
				position: absolute;
				right: 0;
				bottom: 15px;
				height: 50px;
				border-right: 10px solid $blue;
			}

			ul {
				margin: 0
			}
	}
}


// Global buttons for banner and packages
.btn-price {
	position: absolute;
	bottom: 15px;
	right: 0;
	display: block;
	float: right;
	margin-right: 25px;
	width: auto;
	padding: 8px 12px;
	clear: both;
	border: none;
	color: $white;
	font-size: 1.1rem;
	-webkit-box-shadow: 4px 6px 10px -1px rgba(176,176,176,1);
		-moz-box-shadow: 4px 6px 10px -1px rgba(176,176,176,1);
			box-shadow: 4px 6px 10px -1px rgba(176,176,176,1);

		&:after {
			position: absolute;
			top: 0;
			right: -7px;
			width: 5px;
			height: 100%;
			background-color: $yellow;
			content: '';
		}
}

// DEAL PACKAGES
.packages-banner {
	position: relative;
	background: url(../img/packages/macbook.jpg) center center;
	background-size: cover;
	min-height: 450px;
	width: 100%;

	.language {
		position: absolute;
		top: 0px;
		right: 10px;
		color: $white;
		z-index: 10;

			a {
				font-size: 0.9rem;
				color: $white;
			}

			a:hover {
				text-decoration: none;
			}
	}

	.three-points {
		position: relative;
		width: 50%;
		height: auto;
		padding: 25px 20px 20px 20px;
		background-color: rgba(0, 0, 0, 0.5);
		color: $white;
		border-right: 1px solid $white;
		@include clearfix;

		h1 {
			text-transform: uppercase;
			margin: 0;
			font-size: 1.8rem;
		}

		 p {
			color: $white;
		 }

		ul {
			padding-left: 0;

			li {
				font-size: 1.2rem;
				list-style-type: none;

					i {
						color: $red;
					}
			}
		}

		.btn-price {
			position: relative!important;
			margin-top: 10px;
			background-color: $red;
			text-decoration: none;

				&:after {
					background-color: $red;
				}

				&:hover {
					opacity: 0.8;
				}
		}
	}
}

// Web developement process of project
.packages-banner.process {
	background: url(../img/packages/process.jpg) center center;
	background-size: cover;
	overflow: hidden;

	.three-points {
		float: right;
		background-color: rgba(0, 0, 0, 0.7);
		border-left: 1px solid $white;

		li i {
			color: $blue;
		}

		p {
			line-height: 1.2;
		}
	}

	.btn-price {
		background-color: $blue;

		&:after {
			background-color: $blue;
		}

		&:hover {
			opacity: 0.8;
		}
	}
}


// Package Sections
#package-deals,
#process-steps {
	margin-top: 20px;

	header {
		margin-top: 15px;
		padding: 0;

			h1 {
				font-size: 1.8rem;
				padding: 0 0 8px 0;
				line-height: 1;
			}

			h1:before {
				display: none;
			}

			h1:after {
				left: 0;
				width: 30%;
				padding: 0;
			}
	}

	// Different Packages columns
	article {
		position: relative;
		padding-bottom: 45px;
		-webkit-box-shadow: 4px 6px 10px -1px rgba(176,176,176,1);
			-moz-box-shadow: 4px 6px 10px -1px rgba(176,176,176,1);
				box-shadow: 4px 6px 10px -1px rgba(176,176,176,1);

		h2 {
			position: relative;
			margin: 0;
			padding: 8px 25px 9px 25px;
			background-color: $black;
			color: $white;

				&:before {
					position: absolute;
					left: 0;
					top: 0;
					height: 100%;
					width: 12px;
					background-color: $blue;
					content: '';
				}
		}

		p.guarantee {
			margin-top: 120px;
		}

		p.guarantee.lang-fr {
			margin-top: 60px;
		}


		ul {
			width: 95%;
			padding-left: 18px;

			li {
				margin-bottom: 5px;
			}
		}

		p, li {
			margin-left: 13px;
			margin-right: 5px;
		}
	}

	#basic {
		h2:before,
		:after,
		span {
			background-color: $yellow;
		}
	}

	#business {
		h2:before,
		:after,
		span {
			background-color: $red;
		}

		h2 {
			position: relative;

			.star-pop {
				display: block;
				position: absolute;
				top: -50px;
				right: -20px;
				background-color: transparent;
				z-index: 10;

					&:before {
						font-family: FontAwesome;
						content: "\f005";
						font-size: 7rem;
						color: $red;
					}

					span {
						position: absolute;
						top: 30%;
						left: 12%;
						font-size: 1.2rem;
						background-color: transparent;
						text-align: center;
						line-height: 1;
						color: $white;
						font-weight: normal;
						font-family: $font-thick;
						text-shadow: 2px 2px #000;
					}

					span.fr {
						left: 4%;

					}
			}
		}
	}

	#premium {
		h2:before,
		:after,
		span {
			background-color: $green;
		}
	}

	#extras {
		h2:before,
		:after,
		span {
			background-color: $blue;
		}
	}
}

// Specific section overrides
#package-deals  {
	article {
		height: auto;
		margin-bottom: 30px;
	}

	#extras {
		min-height: 0!important;
	}
}

#process-steps {
	margin-top: 20px;

	article {
		min-height: 220px;
		margin-bottom: 30px;
		padding-bottom: 10px;

		h2 {
			font-size: 1rem;
			text-transform: uppercase;
		}

		p {
			padding: 10px;
			margin: 0;
		}
	}
}

#pck-services {
	background: url(../img/packages/folders.jpg) center center;
	background-size: cover;
	width: 100%;
	height: auto;
	border-bottom: 1px solid $white;
	color: $white;
	padding: 35px 0;

		article {
			background-color: rgba(0, 0, 0, 0.5);
			padding: 15px;

				h2 {
					text-transform: uppercase;
					margin-top: 0;
				}
		}
}



// 404% SECTION
.page-error-404 {
	width: 100%;
	height: 100%;

	#particle-canvas {
		position: absolute!important;
		z-index: 0;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		div {
			background: transparent!important;
		}

		canvas {
			width: 100%;
		}
	}
}

#error-404 {
	position: relative;
	z-index: 1;
	padding-top: 20px;

	header {
		background-color: $white;
		opacity: 0.8;

		p {
			font-weight: bold;
		}
	}

	ul {
		clear: both;

		li {
			margin-bottom: 5px;
			list-style-type: disc;

			a {
				color: $blue;
			}

			a:hover {
				text-decoration: none;
			}
		}

	}
}

body.terms {
	overflow: visible;	
}

@import "partials/_mobile";