// Run from root of project: sass --watch assets/sass/styles.scss:assets/css/styles.css
@import "../../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "grid-settings";
@import "../../bower_components/neat/app/assets/stylesheets/neat";
@import "grid-settings";
@import "partials/_base";
@import "partials/_mixins";
@import "partials/_typography";
@import "partials/_layout";
@import "modules/_hamburger";
@import "modules/_nav-overlay";
@import "vendor/_animations";
@import "vendor/_work-view";
@import "vendor/_loader";
@import "vendor/_section-scroll";
@import "vendor/_bxslider";


// NAV MINI
#nav-mini {
	position: fixed;
	top: 50%;
	left: -15px;
	z-index: 3;
	margin-top: -50px;

	li {
		display: block;
		width: 10px;
		height: 10px;			
		margin-bottom: 12px;
		
		a {
			display: block;
			width: 10px;
			height: 10px;
			background-color: $white;
			border-radius: 10px;
			text-decoration: none;
			border: 1px solid $white;
		}
	}

	a.black:hover, li.active a.black { background-color: $black;}
	a.yellow:hover, li.active a.yellow { background-color: $yellow;}
	a.red:hover, li.active a.red { background-color: $red;}
	a.green:hover, li.active a.green { background-color: $green;}
	a.blue:hover, li.active a.blue { background-color: $blue;}	
}

#nav-mini.darkNav {
	li a {
		background-color: $black;
	}
}

// HOME SECTION
#bg-home {
	position: relative;
	background-color: $black;
}

#home,
#logo {
	background-color: $black;
	color: $white;

    // Social media links
    #social-links {
    	position: absolute;
    	z-index: 100;
    	top: 0;
    	right: 90px;

        li {
        	float: left;
            margin: 0 10px 0 0;

	        a {
	            color: $white;

	            i {
	            	font-size: rem(24);
	            }
	        }
	                
	        a:hover {
	            color: $blue;
				@include hover-links();	            
	        }  
        }
    }

    #social-links ul#share-me {	
        position: absolute;
        top: 55px;
        right: -3px;
        height: auto;
        width: 290px;
        padding: 0;

        li {
            display: block;
            width: auto;          
        }
    }

	#slogan {
		width: 55%;//700px;
		position: absolute;
		top: 55%;
		left: 50%;
		transform: translate(-50%, -55%);

		p {
			font-family: $font-med;
			font-size: rem(80);
			font-weight: bold;
			text-transform: uppercase;
			line-height: .95em;
			margin: 20px 0 13px;
			padding: 0;

			span {
				font-size: inherit;
			}
		}

		span {
			font-family: $font-text;
			font-size: rem(35);
			font-style: italic;
		}

		span#all-the-time {
			font-size: rem(35);
		}
	}

    // Mouse scroll down animate
    #mouse-scroll {
        position: absolute;
        bottom: 2%;
        left: 50%;
        display: block;
        margin: 15px 0 15px -12px;
        width: 25px;
        height: 72px;
        background-image: url(../img/global/iconMouseDown.png);
        clear: both;
        cursor: pointer;
    }

        .fa-angle-down {
            display: none;
            position: absolute;        
            left: -1px; 
            color: #ddd;
        }

            .angle-down-1 {            
                bottom: -5px;            
            }

            .angle-down-2 {
                bottom: -15px;
            }

        .icon-animate,
        .icon-animate:before {
            position: absolute;
            top: 0;
        }
         
        .icon-animate {
            width: 25px;
            height: 45px;
            top: 0%;
            border-radius: 20px;
        }
         
        .icon-animate:before {
            content: '';
            width: 5px;
            height: 5px;
            background: $white;
            margin-left: 10px;
            top: 10px;
            border-radius: 3px;
              -webkit-animation-duration: 1s;
                animation-duration: 1s;
              -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
              -webkit-animation-name: scroll;
                animation-name: scroll;
            }
         
        @-webkit-keyframes scroll {
            0% {
                opacity: 1;
            }
            100% {
                opacity: 0;
            -webkit-transform: translateY(20px);
                transform: translateY(20px);
            }
        }
		
		// EMMITER SECTION: Fountain of colors
		canvas { 
			position: fixed;
			top: 50%;
			left: 0;
			transform: translate(-50%, -50%);
			z-index: -1;
		}        	
}


// WHAT WE DO SECTION
#what-we-do-outer {
	overflow: hidden;
	height: auto;

		#particle-canvas {
			position: absolute!important;
			z-index: 2;
			top: 0;
			left: 0;
			width: 50%;
			height: 100%;

			div {
				background: transparent!important;
			}

			canvas {
				width: 100%;
			}				
		}		
}

#what-we-do {
	position: relative;
	background-color: $yellow;
    @include clearfix;

	.intro {
		font-size: rem(21);
		font-family: $font-thick;
		line-height: 1.2;
		margin-bottom: 0;
	}

	.col {
		header, p {
		    position: relative;
		    z-index: 3;
		}

		img {
			width: 100%;
			height: auto;	
		}
	}

	.col-skew {
		padding: 2% 4%;//25px 30px 25px 65px;
		background-color: $yellow;
	}

	.col-skew:after {
	    content:"";
	    position:absolute;
	    z-index:1;
	    top:0;
	    bottom:0;
	    left:22%;
	    width:30%;
	    background: $yellow;
	    -webkit-transform:skewX(-8deg);
	    	transform:skewX(-8deg);
	}

	.col-no-skew {
		background-color: $black;

		.pe-thumbs {
			margin: 0;
			padding: 0;
		}	

		.pe-thumbs li a,
		.pe-thumbs li a img {
			display: block;
			position: relative;
			cursor: default;
		}

		.pe-thumbs li a img {
			opacity: 0.5;
		}
		
		.pe-thumbs li a div.pe-description {
			width: 200px;
			height: 100px;
			background: rgba(0,0,0,0.8);
			position: absolute;
			top: 0px;
			left: -200px;
			color: white;
			display: none!important;
			z-index: 1001;
			text-align: left;
		}

		.pe-description h2 {
			padding: 10px 10px 0px 10px;
			line-height: 20px;
			font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
			text-transform: uppercase;
			font-size: rem(16);
			margin: 0px;
		}
		.pe-description p {
			padding: 10px 0px;
			margin: 10px;
			font-size: rem(12);
			font-style: italic;
			border-top: 1px solid rgba(255,255,255,0.3);
		}
	}
}


// CASE STUDY SECTION
.page-case-study #nav-mini {
	display: none;
}

// Logo full width styles for case study page 
#logo-outer	{
	background-color: $black;
	
	#logo {
		@include clearfix;
		margin-bottom: 0;
		padding-bottom: 10px;
	}
}

// BG THeme color case study

// THEME RED
#case-study-outer.theme-red {
	background-color: $red;

	.col-skew, 
	.col-skew:after {
		background-color: $red;
	}

	p, 
	#case-study #case-study-info a {
		color: $white;
	}

	#case-study #case-study-info p a:hover {
		background-color: $white;
		color: $black;
		padding: 3px;
	}	
}

// THEME YELLLOW
#case-study-outer.theme-yellow {
	background-color: $yellow;

	.col-skew, 
	.col-skew:after {
		background-color: $yellow;
	}
	
 	p,
 	#case-study #case-study-info a, 
 	#case-study #case-study-info header h1 {
		color: $black;
	}

	#case-study #case-study-info header h1:after {
		background-color: $black;
	}

	#case-study #case-study-info #controls i {
		color: $black;
	}
	
	#case-study #case-study-info #controls i:hover {
		color: $white;
	}	
}

// THEME TURQUOISE
#case-study-outer.theme-turquoise {
	background-color: #049bf4;

	.col-skew, 
	.col-skew:after {
		background-color: #049bf4;
	}

	p, 
	#case-study #case-study-info a {
		color: $white;
	}

	#case-study #case-study-info p a:hover {
		background-color: $white;
		color: $black;
		padding: 3px;
	}	
}

.theme-red .about-row-img {
	background: $black url(../img/case-study/phoneResq/phoneResq_shop.jpg) no-repeat top right;
    background-size: cover;	
}

.theme-turquoise .about-row-img {
	background: $black url(../img/case-study/perfectPeaksBrews/ppb_bottle.jpg) no-repeat center -150px;
    background-size: cover;		
}

#case-study-intro {
    @include row( $display: default, $direction: RTL);
    margin: 0;
}


// Top section of Case study
#about-row {
    @include span-columns(6 of 12, block-collapse);
    min-height: 200px;
    position: relative;
    z-index: 1;    	
	float: right;

    article {
        float: left;
        width: 80%;
        margin-left: 13%;
        padding: 30px 0;

        h1, p {
            color: $white;
        }

        h1 {
            font-size: rem(60);
            font-weight: 600;
            text-transform: uppercase;
            line-height: 1em;
            margin: 0;
        }

		p {
			font-family: $font-med;
			font-size: rem(16);
			//font-weight: bold;
			line-height: 1.1em;
			margin: 10px 0 13px;
			padding: 0;

			span {
				font-size: inherit;
			}
		}	        
    }
}            

.about-row-img {
    width: 50%;
    min-height: 350px;
    position: absolute;
    left: 0;
}

.bg-color {
    position: absolute;
    z-index: 0;
    width: 50%;
    min-height: 650px;
    background-color: #475573;
}

    .bg-color-left {
        left: 0;
    }

    .bg-color-right {
        right: 0;
    }














// Case study content / Constellations / images
#case-study-outer {
	height: auto;

	#case-study {
		position: relative;
		border-top: 1px solid $white;
		@include clearfix;		

		p {
			position: relative;
			z-index: 3;
			clear: none;
		}

		.col-skew {
			padding: 2% 2% 2% 3%;
		}

		.col-skew:after {
		    content:"";
		    position:absolute;
		    z-index:1;
		    top:0;
		    bottom:0;
		    left: 11%;
		    width: 32%;
		    -webkit-transform:skewX(-8deg);
		    	transform:skewX(-8deg);
		}	

		// Left column
		#case-study-info {
			a {
				color: $black;
				font-size: inherit;
			}
			
			a:hover {
				text-decoration: none;
			}			

			header {
				position: relative;
				z-index: 3;	
				padding: 0;
				

				img {
					float: left;
					width: 110px;
					height: 99px;
					margin: 0 10px 0 0;
					padding: 5px;
					background-color: $white;
				}

				#controls {
					position: absolute;
					top: -6px;
					right: 0;
					padding: 0;

					li {
						display: inline-block;
						float: left;
						margin-right: 10px;

						i {
							color: $white;
						}

						i:hover {
							color: $black;
							@include hover-links();
						}

						.fa-th {
							margin-top: 2px;
							font-size: rem(30);
						}
					}
				}
			}

			#particle-canvas {
				position: absolute!important;
				z-index: 2;
				top: 0;
				left: 0;
				width: 50%;
				height: 100%;


				div {
					background: transparent!important;
				}

				canvas {
					width: 100%;
					//height: 2000px;
				}				
			}
		}// End of case study info

		// Right column
		#case-study-img img {
			display: block;
			margin: 0 auto;
			width: 100%;
			height: auto;
		}			
	}

}


// WORK SECTION
#work {
	h1:after {
		float: right;
		text-align: right;		
		right: 25px;
	 	width: 72%;		
	}
}

#work {
	.row {		
		.view {
			background-color: $black;
	    		
	    		img {
	    			display: block;
	    			width: 100%;
	    			height: auto;
	    		}			    		
		}

		.mask {
			//display: none!important;
		}

		// .view:last-child {
		// 	display: none;
		// }
	}
}

#clients {
	//background: url(../img/bg-stripes.jpg) no-repeat bottom center;
	.row {		
		.client {
			position:relative;

    		img {
				display: block;
				width: 100%;
				height: auto;
    		}

    		img.top,
    		img.bottom {
				position:absolute;
				top: 0;
				left:0;
				-webkit-transition: opacity .5s ease-in-out;
					-moz-transition: opacity .5s ease-in-out;
						-o-transition: opacity .5s ease-in-out;
							transition: opacity .5s ease-in-out;
							-webkit-backface-visibility: hidden;				
    		}

			img.top:hover {
				opacity:0;
			}	
		}
	}	
}

// CONTACT SECTION
#map {
	margin-top: 30px;
	width: 100%;
	height: 375px;
	    
	    #map-info {
	        padding: 5px 0 0 20px; 
	        h1 {
	            margin: 0;
	            font-size: rem(20);
	            font-family: 'Open Sans', Arial, sans-serif;
	            font-weight: 400;
	            color: $blue;
	        }

	        p {
	            line-height: 1;
	            margin: 8px 0;
	        }

	        a {
	            color: $blue;
	            line-height: 1.2;
	        }

	        a:hover {
	        	text-decoration: none;
	        }
	    }
}


#contact-info {
	margin: 30px auto;
}

#offices,
#get-in-touch,
#follow-us {
	min-height: 200px;

	h1:after {
		height: 3px;
		bottom: -3px;
		background-color: red;
	}

	a {
		color: $black;
		padding: 2px 5px;
	}
}

#offices i {
	padding-right: 5px;
}

#get-in-touch a:hover, 
#offices a:hover {
	text-decoration: none;
	background-color: $blue;
	color: $white;
	padding: 2px 5px;
	@include hover-links();
}

#follow-us ul { 
	padding: 0;
	li {
		text-align: center;
	}
	i {
		position: relative;
		margin-right: 15px;
		a {
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			width: 100%;
			height: 100%;
		}
	}

	i:hover {
		color: #0074c0;
		@include hover-links();
	}

}

// QUICK MESSAGE SECTION
#quick-message {
	position: relative;
	padding: 25px 0;
	// background: url(../img/global/smoke.jpg) center center;	
	// background-size: cover;
	background-color: #054B79;
	
	h1, p {
		color: $white;
		text-align: center;			
	}

	#particle-canvas {
		position: absolute!important;
		z-index: 0;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;


		div {
			background: transparent!important;
		}

		canvas {
			width: 100%;
		}
    }

	#contact-form {
	    position: relative;
	    z-index: 1;
	    margin: 20px auto 0 auto;
	    width: 50%;
	    //background-color: rgba(255, 255, 255, 0.2);

	    fieldset {
	        border: none;
	    }

	    legend {
	        color: $white;
	        margin-bottom: 30px;
	    }

	    p {
	        position: relative;
	        margin-bottom: 20px;
	    }

	    input, textarea {
	        width: 100%;
	        height: 40px;
	        padding: 0 10px;
	        background-color: transparent;
	        border: 0;
	        border-bottom: 2px solid $white;
	        color: $white;            
	        -webkit-appearance: none;
	    }

	        span {
	            position: absolute;
	            bottom: 0;
	            left: 0;
	            display: block;
	            width: 0%;
	            height: 2px;
	            border-bottom: 2px solid $red;
	            background-color: $red;
	                -moz-transition: width 0.5s ease;
	                    -webkit-transition: width 0.5s ease;
	                        transition: width 0.5s ease;                  
	        }

	        label {
	            position: absolute;
	            right: 0;
	            display: block;
	            color: $white;
	            font-size: rem(12);
	        }
	    
	    #textarea span {
	        bottom: 6px;
	    }

	    input, 
	    input[type=submit],
	    textarea,
	    button,
	    select,
	    option {
	        // Remove focus glow
	        outline-color: transparent;
	        outline-style: none;        
	    }

	    textarea {
	        height: 40px;

	        -webkit-transition: height 0.3s;
	        -o-transition: height 0.3s;
	        transition: height 0.3s;                      
	    }

	    textarea:focus {
	        height: 150px;
	    }
	    
	    // Change color for textarea placeholder (value)
	    ::-webkit-input-placeholder { color: $white;}
	    ::-moz-placeholder {color: $white;}
	    :-ms-input-placeholder { color: $white;} 
	    :-o-input-placeholder { color: $white;} 

	    #btn-submit {
	        margin-top: 15px;
	        width: auto;
	        font-size: rem(25);
	        color: #FFF;
	        text-transform: uppercase;
	        background-color: transparent;
	        border: 3px solid $white;
	        height: 60px;
	        padding: 7px 15px;
	        line-height: 40px;
	        border-radius: 5px;
	    }

	    #btn-submit:hover {
	        background-color: $blue;                   
	        border: 3px solid $blue;
	        border-radius: 5px;
	    }
	}
}

// FOOTER SECTION
#footer-outer {
	width: 100%;
	background-size: cover;
	background-color: $black;
}

footer {
	height: auto;	

	.col {
		padding: 25px 0;
	}

	p, i, a {
		font-size: rem(12);
		color: $white;
		font-family: Verdana, Arial, sans-serif;
	}
	
	ul {
		li {
			i {
				position: relative;
				margin-left: 10px;
					a {
						position: absolute;
						top: 0;
						left: 0;
						display: block;
						width: 100%;
						height: 100%;
					}
			}

			i:hover {
				color: #0074c0;
				@include hover-links();
			}
		}
	}
	
	#footer-logo {
		font-size: 24px;
		font-family: $font-thick;
		text-transform: uppercase;
		line-height: 1em;
		margin: 0;
	}

	#footer-info {
		a:hover {
			color: $blue;
			text-decoration: none;
		}
	}

	#copyright {
		display: table;
		height: auto;
		height: 100%;
	 	text-align: right;
	}

	#copyright-info {
		position: relative;
		display: table-cell;
		height: 215px;
		vertical-align: bottom;
		padding-right: 20px;
			
			#border-blue {
				position: absolute;
				right: 0;
				bottom: 14px;
				height: 80px;
				border-right: 10px solid $blue;
			}

			ul {
				margin: 0
			}
	}
}

@import "partials/_mobile";