// Run from root of project: sass --watch assets/sass/styles.scss:assets/css/styles.css
@import "../../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../../bower_components/neat/app/assets/stylesheets/neat-helpers";
@import "../../bower_components/neat/app/assets/stylesheets/neat";
@import "_grid-settings";
@import "partials/_base";
@import "partials/_layout";
@import "partials/_hamburger";
@import "partials/_nav-overlay";

// HOME SECTION
#bg-home {
	position: relative;
	background-color: $black;
}

#home {
	background-color: $black;
	color: $white;
	
	header {
		h1 {
			position: relative;
			width: 350px;
			left: 25px;
			z-index: 0;
			margin: 0;
			padding-top: 10px;
			font-family: $font-logo;
			font-size: rem(30);
			text-transform: uppercase;
		}
	}

	#slogan {
		width: 700px;
		position: absolute;
		top: 55%;
		left: 50%;
		transform: translate(-50%, -55%);

		p {
			font-family: $font-headers;
			font-size: rem(80);
			font-weight: bold;
			text-transform: uppercase;
			line-height: .95em;
			margin: 20px 0 13px;
			padding: 0;

			span {
				font-size: inherit;
			}
		}

		span {
			font-family: $font-text;
			font-size: rem(45);
			font-style: italic;
		}

		span#all-the-time {
			font-size: rem(35);
		}
	}
}


// EMMITER SECTION: Fountain of colors
canvas { 
	position: fixed;
	top: 50%;
	left: 0;
	transform: translate(-50%, -50%);
	z-index: -1;
}


// WHAT WE DO SECTION
#what-we-do-outer {
	overflow: hidden;
	height: 800px;
}

#what-we-do {
	position: relative;    
    background-color: #ffc036;
    @include clearfix;

	.intro {
		font-size: rem(21);
		font-family: $font-logo;
		line-height: 1.2;
	}
	
	h2:after {
		left: 0;
		width: 52%;
	}

	.col {
		p {
		    position: relative;
		    z-index: 2;
		}
	}

	.col-skew {
		padding: 25px 30px;
		background-color: #ffc036;
	}

	.col-skew:after {
	    content:"";
	    position:absolute;
	    z-index:1;
	    top:0;
	    bottom:0;
	    left:31%;
	    width:18%;
	    background:#ffc036;
	    -webkit-transform:skewX(-8deg);
	    	transform:skewX(-8deg);
	}

	.col-no-skew {
		background-color: $black;

		.pe-thumbs {
			margin: 0;
			padding: 0;
		}
		
		.pe-thumbs li {
			img {
				display: block;
				width: 100%;
				height: 100%;
			}
		}

		.pe-thumbs li a,
		.pe-thumbs li a img {
			display: block;
			position: relative;
		}
		.pe-thumbs li a img {
			opacity: 1;
		}
		.pe-thumbs li a div.pe-description {
			width: 200px;
			height: 100px;
			background: rgba(0,0,0,0.8);
			position: absolute;
			top: 0px;
			left: -200px;
			color: white;
			display: none;
			z-index: 1001;
		}		
		
		.pe-thumbs li a div.pe-description {
			width: 200px;
			height: 100px;
			background: rgba(0,0,0,0.8);
			position: absolute;
			top: 0px;
			left: -200px;
			color: white;
			display: none;
			z-index: 1001;
			text-align: left;
		}
		.pe-description h3 {
			padding: 10px 10px 0px 10px;
			line-height: 20px;
			font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
			font-size: 22px;
			margin: 0px;
		}
		.pe-description p {
			padding: 10px 0px;
			margin: 10px;
			font-size: 11px;
			font-style: italic;
			border-top: 1px solid rgba(255,255,255,0.3);
		}
	}
}


// WORK SECTION
#work {
	min-height: 800px;

	h2:after {
		right: 25px;
	}
}

#work {
	.row {
		border-right: 1px solid white;
		margin-right: 1px;		
		
			div {
				background-color: $black;
				height: 250px;
				margin-bottom: 1px;
				border: 1px solid $white;
				box-sizing: border-box;
			    	-moz-box-sizing: border-box;
			    		-webkit-box-sizing: border-box;
			}
	}
}


// CONTACT SECTION
#contact {
	header {
		@include clearfix;
		
		h2 {
			margin: 0 auto 25px auto;
			float: none;
			width: 341px;		
		}

		h2, p {
			text-align: center;
		}

		p {		
			width: 70%;
			margin: 0 15%;
		}
		
		h2:before {
			left: 0;
			background-color: #0074c0;
		}

		h2:after {
			left: 26px;
		}
	}
}

#maps {
	margin-top: 30px;
	width: 100%;
	height: 375px;
	background-color: $black;
}

#contact-info {
	margin: 30px auto;

	h2 {
		font-family: $font-logo;
		font-size: rem(24);
	}

	h2:after {
		width: 50%;
		bottom: -5px;
		left: 0;
	}
}

#offices,
#get-in-touch,
#follow-us {
	min-height: 200px;

	a {
		color: $black;
	}
	
	a:hover {
		text-decoration: none; 
	}
}

#follow-us ul { 
	padding: 0;
	i {
		position: relative;
		margin-right: 15px;
		a {
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			width: 100%;
			height: 100%;
		}
	}
}


// FOOTER SECTION
#footer-outer {
	width: 100%;
	background-color: $black;
}

footer {
	min-height: 285px;
	background-color: $black;

	.col {
		min-height: 285px;
		padding: 25px 0;
	}

	p, i, a {
		font-size: rem(12);
		color: $white;
		font-family: Verdana, Arial, sans-serif;
	}
	
	ul {
		li {
			i {
				position: relative;
				margin-left: 10px;
					a {
						position: absolute;
						top: 0;
						left: 0;
						display: block;
						width: 100%;
						height: 100%;
					}				
			}
		}
	}
	
	#footer-logo {
		font-size: 30px;
		font-family: $font-logo;
		text-transform: uppercase;
		line-height: 1em;
		margin: 0;
	}

	#copyright {
		box-sizing: border-box;
		padding-top: 112px;
	 	text-align: right;
	}

	#border-right {
		padding-right: 15px;
		border-right: 10px solid #0074c0;
	}
}

