// Case study new
#case-study-custom {
	.row {
		@include row();
	}

	.col {
		@include pad(20px);

		h1, h2 {
			margin: 0;
			font-size: 4rem;
		    line-height: 3rem;
			text-transform: uppercase;
		    font-family: 'futuraLT', sans-serif;
		    font-weight: 400;
		}

		h1 {
			span {
				display: block;
				font-size: 2rem;
				line-height: 2.25rem;
			}
		}

		h2 {
			position: relative;
			font-size: 2rem;

	    	span {
	    		position: absolute;
	    		left: 100px;
	    		top: 2px;
	    		font-family: $font-med;
	    		font-size: 1rem;
	    		text-transform: none;
	    	}
		}

		a {
			color: $black;
			padding: 2px;

				&:hover {
					background: $black;
					color: $white;
					text-decoration: none;
				}
		}			
	}

	.top-content {
		.col {
			@include span-columns(4);

				img {
					display: block;
					margin: 0 auto;
					-webkit-box-shadow: 0 8px 6px -6px black;
					   -moz-box-shadow: 0 8px 6px -6px black;
					        box-shadow: 0 12px 10px -10px black;
				}

				@include media($desktop) {
					img {
						max-width: 100%;
						height: auto;
					}
				}

				@include media($tablet) {
					img {
						display: block;
						margin: 0 auto 0 auto;
					}
				}
		}

		@include media($large-desktop) {
			.col {
				h1, p {
					width: 80%;
				}
			}
		}

		.col:nth-of-type(2n) {
			@include span-columns(8);
		}
	}


	.middle-content {
		.col {
			@include span-columns(6);
			min-height: 500px;
			background: #FFF;	
			
					p {
						margin-top: 0px;
					}				
		}

		.col.content {
			display: table;

			article {
			  display: table-cell;
			  vertical-align: middle;
			}

			@include media($large-desktop) {
				h2, p {
					width: 85%;
				}
			}

			@include media($tablet) {
				min-height: 300px;
			}
		}
	}

	.middle-content.middle-content-2 {
		.col.content {

			@include media($large-desktop) {
				h2, p, ul {
					float: right;
				}
				ul {
					float: left;
					margin-left: 80px;
				}
			}
		}
	}
	
	// Remove third image div when in tablet and under
	@include media($tablet) {
		.middle-content.middle-content-3 {
			.img {
				display: none;
			}
		}
	}	


	.bottom-content {
		background: #FFF;

		.col {
			@include span-columns(6);
			@include shift(3);
			text-align: center;

				ul {
					padding: 0;
						
					li {
						list-style: none;
					}
				}
		}

		@include media($tablet) {
			.col {
				@include span-columns(12);
				@include shift(0);
			}
		}
	}


	.carousel-content {
		margin: 0 0 50px 0;

		.col {
 			h2 {
				text-align: center;
			}
			.single {
				min-width: 100%;
				text-align: center;


					@include media($desktop) {
						img {
							width: 100%;
						}
					}
			}
	}

		@include media($desktop) {
			.col {
				@include span-columns(12);
				@include shift(0);
			}
		}
	}
}

@include media($tablet) {
	#case-study-custom {
		.row {
			.col,
			.col:nth-of-type(2n) {
				@include span-columns(12);
			}
		}
	}
}