// New wild
.cs-new-wild {	
	#case-study-nav {
		background: #54739a;
	}

	#case-study-custom {
		.top-content {
			min-height: 570px;
			padding-top: 150px;
			padding-bottom: 40px;
			background: #f1f4f9 url(../../case-study/off-the-fence/img/new_wild/new_wild_bg_top.jpg) repeat-x top center;
			
				@include media($tablet) {
					padding-top: 50px;
				}		

				.col:nth-of-type(2n) {
					@include span-columns(8);
					background: url(../../case-study/off-the-fence/img/new_wild/sled.jpg) no-repeat right bottom;
					background-size: 100%;
					padding-right: 150px;
					padding-left: 20px;

					@include media($desktop) {
						padding-right: 50px;
					}

					@include media($tablet) {
						@include span-columns(12);
						padding-right: 20px;
					}						
				}					
		}	

		.middle-content {
			.col.img {
				background: url(../../case-study/off-the-fence/img/new_wild/jungle_cat.jpg) no-repeat center center;
				background-size: cover;
			}		
		}	

		.middle-content.middle-content-2 {
			.col.img {
				background: url(../../case-study/off-the-fence/img/new_wild/goat.jpg) no-repeat right bottom;
				background-size: cover;
			}
		}	

		.middle-content.middle-content-3 {
			.col.img {
				background: url(../../case-study/off-the-fence/img/new_wild/northern_lights.jpg) no-repeat right bottom;
				background-size: cover;
			}
		}					
	}				
}

// Octopus Teacher
.cs-octopus-teacher {
	#case-study-nav {
		background: #54739a;
	}

	#case-study-custom {
		.top-content {
			background: #f1f4f9 url(../../case-study/off-the-fence/img/octopus_teacher/sea_bg.jpg) no-repeat top center;
			background-size: cover;
			padding: 10px 0;		

				.col {
					position: relative;
					min-height: 450px;				
					
					@include media($tablet) {
						min-height: 350px;
					}			

					article {
						position: absolute;
						bottom: 0;
				
							@include media($desktop) {
								bottom: auto;
							}					
					}				
				}

				h1, p {
					color: #FFF;	
				}
		}

		.middle-content {
			.col.img {
				background: url(../../case-study/off-the-fence/img/octopus_teacher/eye.jpg) no-repeat center center;
				background-size: cover;
			}		
		}	

		.middle-content.middle-content-2 {
			.col.img {
				background: url(../../case-study/off-the-fence/img/octopus_teacher/octopus.jpg) no-repeat right bottom;
				background-size: cover;
			}
		}			
	}
}

// SHRIMP FESTIVAL
.cs-shrimp-festival {
	background-color: #1857ab;
	
	.col-skew {
		background-color: #1857ab;
	}

	#intro-bg-img {
		background: $white url(/case-study/shrimp-festival/img/banner.jpg) no-repeat center 0px;
		background-size: cover;
	}	
}

// WOMEN'S POLO LINK
.cs-womens-polo-link {
	background-color: #a42f91;
	
	.col-skew {
		background-color: #a42f91;
	}

	#intro-bg-img {
		background: $white url(/case-study/womens-polo-link/img/banner.jpg) no-repeat center 0px;
		background-size: cover;
	}	
}

// THEME VARCALE ENTERTAINMENT
.cs-varcale-entertainment {
	background-color: $red;
	
	.col-skew {
		background-color: $red;
	}

	#intro-bg-img {
		background: $white url(/case-study/varcale-entertainment/img/banner.jpg) no-repeat center 15px;
	}	
}

// THEME Michel Jordi.
.cs-jordi {
	background-color: #e3000f;
	
	.col-skew {
		background-color: #e3000f;
	}

	// Phone ResQ
	#intro-bg-img {
		background: $black url(/case-study/jordi/img/banner.jpg) no-repeat center bottom;
	    background-size: cover;
	}	
}

// THEME SOHO Film Finance.
.cs-sff {
	background-color: #8ea4af;
	
	.col-skew {
		background-color: #8ea4af;
	}

	// Phone ResQ
	#intro-bg-img {
		background: $black url(/case-study/soho-film-finance/img/banner.jpg) no-repeat -471px -60px;
	    background-size: cover;
	}	
}

// THEME PHONERESQ.
.cs-phone-resq {
	background-color: $red;
	
	.col-skew {
		background-color: $red;
	}

	// Phone ResQ
	#intro-bg-img {
		background: $black url(/case-study/phone-resq/img/banner.jpg) no-repeat top right;
	    background-size: cover;
	}	
}

// THEME PERFECT PEAKS BREWS
.cs-ppb {
	background-color: $blue;
	
	.col-skew {
		background-color: $blue;
	}
	
	#intro-bg-img {
		background: $black url(/case-study/perfect-peaks-brews/img/home.jpg) no-repeat center -110px;
	    background-size: cover;
	}	
}

// THEME HEINEKEN BEAUTY OF BREWING
.cs-beauty-of-brewing {
	background-color: $yellow;	
	
	.col-skew {
		background-color: $yellow;
	}
		 	
	#case-study {
	 	#case-study-info {
	 		h2, p, a, li {
				color: $black;
	 		}
		}
	}

	#intro-bg-img {
		background: $black url(/case-study/heineken/img/banner.jpg) no-repeat center -50px;
	    background-size: cover;
	}	
}

// THEME REDBULL
.cs-redbull {
	background-color: #2e327b;
	
	.col-skew {
		background-color: #2e327b;
	}

	#intro-bg-img {
		background: $black url(/case-study/redbull/img/banner.jpg) no-repeat center -70px;
	    background-size: cover;
	}	
}

// THEME HEINZ
.cs-heinz {
	background-color: #8eafce;
	
	.col-skew {
		background-color: #8eafce;
	}
 	
 	#case-study-info {
 		h2, p, a, li {
			color: $black;
 		}
	}

	#intro-bg-img {
		background: $black url(/case-study/heinz/img/banner.jpg) no-repeat center -100px;
	    background-size: cover;
	}
}


// THEME HARRY POTTER DEATHLY HALLOWS PART 2.
.cs-ea-deathly-hallows {
	background-color: $yellow;

	.col-skew {
		background-color: $yellow;
	}
 	
	#case-study {
	 	#case-study-info {
	 		h2, p, a, li {
				color: $black;
	 		}
		}
	}

	#intro-bg-img {
		background: $black url(/case-study/ea/img/banner.jpg) no-repeat center center;
	    background-size: cover;
	}
}

// THEME VOLVIC TOUGHMUDDER
.cs-volvic-toughmudder {
	background-color: #ff6801;

	.col-skew {
		background-color: #ff6801;
	}

	#intro-bg-img {
		background: $black url(/case-study/volvic/img/banner.jpg) no-repeat center top;
	    background-size: cover;
	}
}

// THEME JAGUAR LIVEFEARLESS
.cs-jaguar-livefearless {
	background-color: $red;

	.col-skew {
		background-color: $red;
	}

	#intro-bg-img {
		background: $black url(/case-study/jaguar/img/banner2.jpg) no-repeat center top;
	    background-size: cover;
	}
}

// THEME PG-TIPS CUPPACLUB
.cs-pgtips-cuppaclub {
	background-color: #02a85c;

	.col-skew {
		background-color: #02a85c;
	}

	#intro-bg-img {
		background: $black url(/case-study/pgtips/img/banner.jpg) no-repeat center right;
	    background-size: cover;
	}
}

// THEME HP MOVEMBER
.cs-hp-movember {
	.col-skew {
		background-color: #0d234e;
	}

	#intro-bg-img {
		background: $black url(/case-study/pgtips/img/banner.jpg) no-repeat center right;
	    background-size: cover;
	}
}

// THEME HP MOVEMBER
.cs-hp-movember {
	background-color: #132b51;
	
	.col-skew {
		background-color: #132b51;
	}

	#intro-bg-img {
		background: $black url(/case-study/hp/img/banner.jpg) no-repeat left 0;
	    background-size: cover;
	}
}

// THEME KLEENEX COLLECTION
.cs-kleenex-collection {
	background-color: #3292a0;

	.col-skew {
		background-color: #3292a0;
	}

	#intro-bg-img {
		background: $black url(/case-study/kleenex/img/banner.jpg) no-repeat center right;
	    background-size: cover;
	}
}

// THEME BULMERS BEGIN
.cs-bulmers-begin {
	background-color: $yellow;

	.col-skew {
		background-color: $yellow;
	}
	
	#case-study {
	 	#case-study-info {
	 		h2, p, a, li {
				color: $black;
	 		}
		}
	}

	#intro-bg-img {
		background: $black url(/case-study/bulmers/img/banner.jpg) no-repeat right -50px;
	    background-size: cover;
	}
}

// THEME PLAYBOY UK
.cs-playboy {
	background-color: #c8082d;

	.col-skew {
		background-color: #c8082d;
	}

	#intro-bg-img {
		background: $black url(/case-study/playboy/img/banner.png) no-repeat center center;
	    background-size: cover;
	}
}

// THEME LONDON 2012
.cs-olympics {
	background-color: #0172c0;

	.col-skew {
		background-color: #0172c0;
	}

	#intro-bg-img {
		background: $black url(/case-study/olympics/img/banner.jpg) no-repeat center -100px;
	    background-size: cover;
	}
}

// THEME TESCO ENOTRIA
.cs-tesco {
	background-color: #8dbb37;

	.col-skew {
		background-color: #8dbb37;
	}

	#intro-bg-img {
		background: $black url(/case-study/tesco/img/banner.jpg) no-repeat center -100px;
	    background-size: cover;
	}

	// #case-study-nav {
	// 	.go-prev:hover, 
	// 	.go-next:hover, 
	// 	.go-all:hover {
	// 		background-color: #8dbb37;
	// 	}
	// }
}

// THEME Honda Prototype
.cs-honda-prototype {
	background-color: $red;

	.col-skew {
		background-color: $red;
	}

	#intro-bg-img {
		background: $black url(/case-study/honda/img/banner.jpg) no-repeat center -50px;
	    background-size: cover;
	}
}

// Reposition background images for mobile 479px
@include media($mobile) {

	.cs-new-wild {
		#intro-bg-img {		
			background-position: center top;
		}
	}	

	.cs-womens-polo-link {	
		#intro-bg-img {
			background-position: 0 0;
		}		
	}

	.cs-varcale-entertainment {
		#intro-bg-img {
			background-size: 100%;
		}	
	}

	.cs-beauty-of-brewing {
		#intro-bg-img {
			background-position: center -70px;
		}
	}

	.cs-heinz {
		#intro-bg-img {
			background-position: center -40px;
		}
	}
	
	.cs-ea-deathly-hallows {
		#intro-bg-img {
			background-position: -250px center;
		}
	}

	.cs-hp-movember {
		#intro-bg-img {
			background-position: -50px center;
		}
	}

	.cs-bulmers-begin {
		#intro-bg-img {
			background-position: -418px -50px;
		}
	}
	
	.cs-honda-prototype {
		#intro-bg-img {
			background-position: -55px -50px;
		}
	}	
}
