// THEME PHONERESQ.
.cs-phone-resq {
	background-color: $red;
	
	.col-skew {
		background-color: $red;
	}

	// Phone ResQ
	#intro-bg-img {
		background: $black url(/case-study/phone-resq/img/banner.jpg) no-repeat top right;
	    background-size: cover;
	}	
}

// THEME PERFECT PEAKS BREWS
.cs-ppb {
	background-color: $blue;
	
	.col-skew {
		background-color: $blue;
	}
	
	#intro-bg-img {
		background: $black url(/case-study/perfect-peaks-brews/img/home.jpg) no-repeat center -110px;
	    background-size: cover;
	}	
}

// THEME HEINEKEN BEAUTY OF BREWING
.cs-beauty-of-brewing {
	background-color: $yellow;	
	
	.col-skew {
		background-color: $yellow;
	}
		 	
	#case-study {
	 	#case-study-info {
	 		h2, p, a, li {
				color: $black;
	 		}
		}
	}

	#intro-bg-img {
		background: $black url(/case-study/heineken/img/banner.jpg) no-repeat center -50px;
	    background-size: cover;
	}	
}

// THEME REDBULL
.cs-redbull {
	background-color: #2e327b;
	
	.col-skew {
		background-color: #2e327b;
	}

	#intro-bg-img {
		background: $black url(/case-study/redbull/img/banner.jpg) no-repeat center -70px;
	    background-size: cover;
	}	
}

// THEME HEINZ
.cs-heinz {
	background-color: #8eafce;
	
	.col-skew {
		background-color: #8eafce;
	}
 	
 	#case-study-info {
 		h2, p, a, li {
			color: $black;
 		}
	}

	#intro-bg-img {
		background: $black url(/case-study/heinz/img/banner.jpg) no-repeat center -100px;
	    background-size: cover;
	}
}


// THEME HARRY POTTER DEATHLY HALLOWS PART 2.
.cs-ea-deathly-hallows {
	background-color: $yellow;

	.col-skew {
		background-color: $yellow;
	}
 	
	#case-study {
	 	#case-study-info {
	 		h2, p, a, li {
				color: $black;
	 		}
		}
	}

	#intro-bg-img {
		background: $black url(/case-study/ea/img/banner.jpg) no-repeat center center;
	    background-size: cover;
	}
}

// THEME VOLVIC TOUGHMUDDER
.cs-volvic-toughmudder {
	background-color: #ff6801;

	.col-skew {
		background-color: #ff6801;
	}

	#intro-bg-img {
		background: $black url(/case-study/volvic/img/banner.jpg) no-repeat center top;
	    background-size: cover;
	}
}

// THEME JAGUAR LIVEFEARLESS
.cs-jaguar-livefearless {
	background-color: $red;

	.col-skew {
		background-color: $red;
	}

	#intro-bg-img {
		background: $black url(/case-study/jaguar/img/banner2.jpg) no-repeat center top;
	    background-size: cover;
	}
}

// THEME PG-TIPS CUPPACLUB
.cs-pgtips-cuppaclub {
	background-color: #02a85c;

	.col-skew {
		background-color: #02a85c;
	}

	#intro-bg-img {
		background: $black url(/case-study/pgtips/img/banner.jpg) no-repeat center right;
	    background-size: cover;
	}
}

// THEME HP MOVEMBER
.cs-hp-movember {
	.col-skew {
		background-color: #0d234e;
	}

	#intro-bg-img {
		background: $black url(/case-study/pgtips/img/banner.jpg) no-repeat center right;
	    background-size: cover;
	}
}

// THEME HP MOVEMBER
.cs-hp-movember {
	background-color: #132b51;
	
	.col-skew {
		background-color: #132b51;
	}

	#intro-bg-img {
		background: $black url(/case-study/hp/img/banner.jpg) no-repeat left 0;
	    background-size: cover;
	}
}

// THEME KLEENEX COLLECTION
.cs-kleenex-collection {
	background-color: #3292a0;

	.col-skew {
		background-color: #3292a0;
	}

	#intro-bg-img {
		background: $black url(/case-study/kleenex/img/banner.jpg) no-repeat center right;
	    background-size: cover;
	}
}

// THEME BULMERS BEGIN
.cs-bulmers-begin {
	background-color: $yellow;

	.col-skew {
		background-color: $yellow;
	}
	
	#case-study {
	 	#case-study-info {
	 		h2, p, a, li {
				color: $black;
	 		}
		}
	}

	#intro-bg-img {
		background: $black url(/case-study/bulmers/img/banner.jpg) no-repeat right -50px;
	    background-size: cover;
	}
}

// THEME PLAYBOY UK
.cs-playboy {
	background-color: #c8082d;

	.col-skew {
		background-color: #c8082d;
	}

	#intro-bg-img {
		background: $black url(/case-study/playboy/img/banner.png) no-repeat center center;
	    background-size: cover;
	}
}

// THEME LONDON 2012
.cs-olympics {
	background-color: #0172c0;

	.col-skew {
		background-color: #0172c0;
	}

	#intro-bg-img {
		background: $black url(/case-study/olympics/img/banner.jpg) no-repeat center -100px;
	    background-size: cover;
	}
}

// THEME TESCO ENOTRIA
.cs-tesco {
	background-color: #8dbb37;

	.col-skew {
		background-color: #8dbb37;
	}

	#intro-bg-img {
		background: $black url(/case-study/tesco/img/banner.jpg) no-repeat center -100px;
	    background-size: cover;
	}

	// #case-study-nav {
	// 	.go-prev:hover, 
	// 	.go-next:hover, 
	// 	.go-all:hover {
	// 		background-color: #8dbb37;
	// 	}
	// }
}

// Reposition background images for mobile 479px
@include media($mobile) {
	.cs-beauty-of-brewing {
		#intro-bg-img {
			background-position: center -70px;
		}
	}

	.cs-heinz {
		#intro-bg-img {
			background-position: center -40px;
		}
	}
	
	.cs-ea-deathly-hallows {
		#intro-bg-img {
			background-position: -250px center;
		}
	}

	.cs-hp-movember {
		#intro-bg-img {
			background-position: -50px center;
		}
	}

	.cs-bulmers-begin {
		#intro-bg-img {
			background-position: -418px -50px;
		}
	}
}
