// INFOHEALTH
.cs-infohealth {
	#case-study-nav {
		background: #000;
	}

	#case-study-custom {
		.top-content {
			background: url(../../case-study/infohealth/img/banner.jpg) no-repeat center center;
			background-size: cover;
			padding: 10px 0;

				.col:nth-of-type(2n) {
					display: table;
				}

				.col {
					@include span-columns(5);
					@include shift(1);
					min-height: 350px;
					background-color: rgba(255, 255, 255, 0.7);

					@include media($tablet) {
						@include span-columns(12);
						@include shift(0);
						min-height: 200px;
					}

					article {
						  display: table-cell;
						  vertical-align: top;

							@include media($desktop) {
								bottom: auto;
							}
					}

					h1, p {
						color: #000;
						width: 100%;
					}
				}
		}

		.middle-content {
			.col,
			.col.content {
				min-height: 375px;
				
				@include media($tablet) {
					min-height: 400px;
				}

				@include media($mobile) {
					min-height: 250px;
				}
			}

			.col.img {
				background: url(../../case-study/infohealth/img/logo_layout.jpg) no-repeat center -30px;
				background-size: 100%;

					@include media($tablet) {
						background-position: center center;
					}
			}
		}

		.middle-content.middle-content-2 {
			.col.img {
				background: url(../../case-study/infohealth/img/manufacturing.jpg) no-repeat top center;
				background-size: cover;
			}
		}

		.middle-content.middle-content-3 {
			margin-bottom: 35px;
			.col.img {
				background: url(../../case-study/infohealth/img/distribution.jpg) no-repeat center center;
				background-size: cover;
			}
		}
	}
}


// SHRIMP FESTIVAL
.cs-shrimp-festival {
	#case-study-nav {
		background: #000;
	}

	#case-study-custom {
		.top-content {
			background: url(../../case-study/shrimp-festival/img/banner.jpg) no-repeat center center;
			background-size: cover;
			padding: 10px 0;

				h1, p {
					color: #FFF;
				}

				.col:nth-of-type(2n) {
					display: table;
				}

				.col {
					min-height: 300px;

					@include media($tablet) {
						min-height: 200px;
					}

					article {
						  display: table-cell;
						  vertical-align: top;

							@include media($desktop) {
								bottom: auto;
							}
					}
				}
		}

		.middle-content {
			.col,
			.col.content {
				@include media($tablet) {
					min-height: 300px;
				}
			}

			.col.img {
				background: url(../../case-study/shrimp-festival/img/logo-hero.png) no-repeat center center;
				background-size: contain;
			}
		}

		.middle-content.middle-content-2 {
			margin-bottom: 35px;
			.col.img {
				background: url(../../case-study/shrimp-festival/img/shrimp_coal.jpg) no-repeat center top;
				background-size: cover;
			}
		}
	}
}

// SOHO FLIM FINANCE
.cs-sff {
	#case-study-nav {
		background: #000;
	}

	#case-study-custom {
		.top-content {
			background: url(../../case-study/soho-film-finance/img/banner.jpg) no-repeat center center;
			background-size: cover;
			padding: 10px 0;

				h1, p {
					color: #000;
				}

				.col:nth-of-type(2n) {
					display: table;
				}

				.col {
					min-height: 300px;

					@include media($tablet) {
						min-height: 200px;
					}

					article {
						  display: table-cell;
						  vertical-align: top;

							@include media($desktop) {
								bottom: auto;
							}
					}
				}
		}

		.middle-content {
			.col,
			.col.content {
				@include media($tablet) {
					min-height: 300px;
				}
			}

			.col.img {
				background: url(../../case-study/soho-film-finance/img/logo.jpg) no-repeat left center;
				background-size: contain;
			}
		}

		.middle-content.middle-content-2 {
			margin-bottom: 35px;
			.col.img {
				background: url(../../case-study/soho-film-finance/img/home.jpg) no-repeat left center;
				background-size: cover;
			}
		}
	}
}

// PhoneResq
.cs-phoneresq {
	#case-study-nav {
		background: red;
	}

	#case-study-custom {
		.top-content {
			background: url(../../case-study/phone-resq/img/hero_img.jpg) no-repeat center center;
			background-size: cover;
			padding: 10px 0;

				h1, p {
					color: #FFF;
				}

				.col:nth-of-type(2n) {
					display: table;
				}

				.col {
					min-height: 300px;

					@include media($tablet) {
						min-height: 200px;
					}

					article {
						  display: table-cell;
						  vertical-align: middle;

							@include media($desktop) {
								bottom: auto;
							}
					}
				}
		}

		.middle-content {
			.col,
			.col.content {
				@include media($tablet) {
					min-height: 300px;
				}
			}

			.col.img {
				background: url(../../case-study/phone-resq/img/logo_large.jpg) no-repeat center center;
				background-size: contain;
			}
		}

		.middle-content.middle-content-2 {
			margin-bottom: 35px;
			.col.img {
				background: url(../../case-study/phone-resq/img/working.jpg) no-repeat right center;
				background-size: cover;
			}
		}
	}
}


// PERFECT PEAKS BREWS
.cs-perfect-peaks-brews {
	#case-study-nav {
		background: #000;
	}

	#case-study-custom {
		.top-content {
			background: url(../../case-study/off-the-fence/img/octopus_teacher/sea_bg.jpg) no-repeat left center;
			background-size: cover;
			padding: 10px 0;

				h1, p {
					color: #FFF;
				}

				.col:nth-of-type(2n) {
					display: table;
				}

				.col {
					@include media($tablet) {
						min-height: 200px;
					}

					article {
						  display: table-cell;
						  vertical-align: top;

							@include media($desktop) {
								bottom: auto;
							}
					}
				}
		}

		.middle-content {
			.col,
			.col.content {
				min-height: 400px;

				@include media($tablet) {
					min-height: 300px;
				}
			}

			.col.img {
				background: url(../../case-study/perfect-peaks-brews/img/home.jpg) no-repeat left center;
				background-size: cover;
			}
		}

		.middle-content.middle-content-2 {
			margin-bottom: 35px;
			.col.img {
				background: url(../../case-study/perfect-peaks-brews/img/bottles.jpg) no-repeat left center;
				background-size: cover;
			}
		}
	}
}


// MICHEL JORDI
.cs-mjordi {
	#case-study-nav {
		background: red;
	}

	#case-study-custom {
		.top-content {
			background: url(../../case-study/jordi/img/bg.jpg) no-repeat center -360px;
			background-size: cover;
			padding: 10px 0;

				h1, p {
					color: #000;
				}

				.col:nth-of-type(2n) {
					display: table;
				}

				.col {
					min-height: 500px;


					@include media($tablet) {
						min-height: 200px;
					}

					article {
						  display: table-cell;
						  vertical-align: middle;

							@include media($desktop) {
								bottom: auto;
							}
					}
				}


		}

		.middle-content {
			.col,
			.col.content {
				min-height: 400px;
				
				@include media($tablet) {
					min-height: 300px;
				}
			}

			.col.img {
				background: url(../../case-study/jordi/img/top_img.jpg) no-repeat center center;
				background-size: cover;
			}
		}

		.middle-content.middle-content-2 {
			.col.img {
				background: url(../../case-study/jordi/img/bottom_img.jpg) no-repeat center center;
				background-size: cover;
			}
		}
	}
}

// WOMENS POLO LINK
.cs-womens-polo {
	#case-study-nav {
		background: #000;
	}

	#case-study-custom {
		.top-content {
			background: #f1f4f9 url(../../case-study/womens-polo-link/img/banner.jpg) no-repeat top center;
			background-size: cover;
			padding: 10px 0;

				.col:nth-of-type(2n) {
					display: table;
				}

				.col {
					min-height: 375px;

					img {
					-webkit-box-shadow: none;
					   -moz-box-shadow: none;
					        box-shadow: none;
					}

					@include media($tablet) {
						min-height: 200px;
					}

					article {
						  display: table-cell;
						  vertical-align: bottom;

							@include media($desktop) {
								bottom: auto;
							}
					}
				}

				h1, p {
					color: #FFF;
				}
		}

		.middle-content {
			.col,
			.col.content {
				@include media($tablet) {
					min-height: 300px;
				}
			}

			.col.img {
				background: url(../../case-study/womens-polo-link/img/logo_original.jpg) no-repeat center center;
				background-size: contain;
			}
		}

		.middle-content.middle-content-2 {
			.col.img {
				background: url(../../case-study/womens-polo-link/img/logo_purple.jpg) no-repeat center center;
				background-size: contain;
			}
		}
	}
}

// New wild
.cs-new-wild {
	#case-study-nav {
		background: #54739a;
	}

	#case-study-custom {
		.top-content {
			padding-top: 150px;
			padding-bottom: 40px;
			background: #f1f4f9 url(../../case-study/off-the-fence/img/new_wild/new_wild_bg_top.jpg) repeat-x top center;

				@include media($tablet) {
					padding-top: 50px;
				}

				.col {
					min-height: 450px;
				}

				.col:nth-of-type(2n) {
					@include span-columns(8);
					background: url(../../case-study/off-the-fence/img/new_wild/sled.jpg) no-repeat right bottom;
					background-size: 100%;
					padding-right: 150px;
					padding-left: 20px;

					@include media($desktop) {
						padding-right: 50px;
					}

					@include media($tablet) {
						@include span-columns(12);
						padding-right: 20px;
					}
				}
		}

		.middle-content {
			.col.img {
				background: url(../../case-study/off-the-fence/img/new_wild/jungle_cat.jpg) no-repeat center center;
				background-size: cover;
			}
		}

		.middle-content.middle-content-2 {
			.col.img {
				background: url(../../case-study/off-the-fence/img/new_wild/goat.jpg) no-repeat right bottom;
				background-size: cover;
			}
		}

		.middle-content.middle-content-3 {
			.col.img {
				background: url(../../case-study/off-the-fence/img/new_wild/northern_lights.jpg) no-repeat right bottom;
				background-size: cover;
			}
		}
	}
}

// Octopus Teacher
.cs-octopus-teacher {
	#case-study-nav {
		background: #0f3b57;
	}

	#case-study-custom {
		.top-content {
			background: #f1f4f9 url(../../case-study/off-the-fence/img/octopus_teacher/sea_bg.jpg) no-repeat top center;
			background-size: cover;
			padding: 10px 0;

				.col:nth-of-type(2n) {
					display: table;
				}

				.col {
					min-height: 450px;

					@include media($tablet) {
						min-height: 200px;
					}

					article {
						  display: table-cell;
						  vertical-align: bottom;

							@include media($desktop) {
								bottom: auto;
							}
					}
				}

				h1, p {
					color: #FFF;
				}
		}

		.middle-content {
			.col,
			.col.content {
				min-height: 350px;

					@include media($tablet) {
						min-height: 200px;
					}
			}

			.col.img {
				background: url(../../case-study/off-the-fence/img/octopus_teacher/eye.jpg) no-repeat center center;
				background-size: cover;
			}
		}

		.middle-content.middle-content-2 {
			.col.img {
				background: url(../../case-study/off-the-fence/img/octopus_teacher/octopus.jpg) no-repeat right bottom;
				background-size: cover;
			}
		}
	}
}

// SHRIMP FESTIVAL
// .cs-shrimp-festival {
// 	background-color: #1857ab;

// 	.col-skew {
// 		background-color: #1857ab;
// 	}

// 	#intro-bg-img {
// 		background: $white url(/case-study/shrimp-festival/img/banner.jpg) no-repeat center 0px;
// 		background-size: cover;
// 	}
// }

// WOMEN'S POLO LINK
.cs-womens-polo-link {
	background-color: #a42f91;

	.col-skew {
		background-color: #a42f91;
	}

	#intro-bg-img {
		background: $white url(/case-study/womens-polo-link/img/banner.jpg) no-repeat center 0px;
		background-size: cover;
	}
}

// THEME VARCALE ENTERTAINMENT
.cs-varcale-entertainment {
	background-color: $red;

	.col-skew {
		background-color: $red;
	}

	#intro-bg-img {
		background: $white url(/case-study/varcale-entertainment/img/banner.jpg) no-repeat center 15px;
	}
}

// THEME Michel Jordi.
.cs-jordi {
	background-color: #e3000f;

	.col-skew {
		background-color: #e3000f;
	}

	// Phone ResQ
	#intro-bg-img {
		background: $black url(/case-study/jordi/img/banner.jpg) no-repeat center bottom;
	    background-size: cover;
	}
}

// THEME SOHO Film Finance.
// .cs-sff {
// 	background-color: #8ea4af;

// 	.col-skew {
// 		background-color: #8ea4af;
// 	}

// 	// Phone ResQ
// 	#intro-bg-img {
// 		background: $black url(/case-study/soho-film-finance/img/banner.jpg) no-repeat -471px -60px;
// 	    background-size: cover;
// 	}
// }

// THEME PHONERESQ.
.cs-phone-resq {
	background-color: $red;

	.col-skew {
		background-color: $red;
	}

	// Phone ResQ
	#intro-bg-img {
		background: $black url(/case-study/phone-resq/img/banner.jpg) no-repeat top right;
	    background-size: cover;
	}
}

// THEME PERFECT PEAKS BREWS
.cs-ppb {
	background-color: $blue;

	.col-skew {
		background-color: $blue;
	}

	#intro-bg-img {
		background: $black url(/case-study/perfect-peaks-brews/img/home.jpg) no-repeat center -110px;
	    background-size: cover;
	}
}

// THEME HEINEKEN BEAUTY OF BREWING
.cs-beauty-of-brewing {
	background-color: $yellow;

	.col-skew {
		background-color: $yellow;
	}

	#case-study {
	 	#case-study-info {
	 		h2, p, a, li {
				color: $black;
	 		}
		}
	}

	#intro-bg-img {
		background: $black url(/case-study/heineken/img/banner.jpg) no-repeat center -50px;
	    background-size: cover;
	}
}

// THEME REDBULL
.cs-redbull {
	background-color: #2e327b;

	.col-skew {
		background-color: #2e327b;
	}

	#intro-bg-img {
		background: $black url(/case-study/redbull/img/banner.jpg) no-repeat center -70px;
	    background-size: cover;
	}
}

// THEME HEINZ
.cs-heinz {
	background-color: #8eafce;

	.col-skew {
		background-color: #8eafce;
	}

 	#case-study-info {
 		h2, p, a, li {
			color: $black;
 		}
	}

	#intro-bg-img {
		background: $black url(/case-study/heinz/img/banner.jpg) no-repeat center -100px;
	    background-size: cover;
	}
}


// THEME HARRY POTTER DEATHLY HALLOWS PART 2.
.cs-ea-deathly-hallows {
	background-color: $yellow;

	.col-skew {
		background-color: $yellow;
	}

	#case-study {
	 	#case-study-info {
	 		h2, p, a, li {
				color: $black;
	 		}
		}
	}

	#intro-bg-img {
		background: $black url(/case-study/ea/img/banner.jpg) no-repeat center center;
	    background-size: cover;
	}
}

// THEME VOLVIC TOUGHMUDDER
.cs-volvic-toughmudder {
	background-color: #ff6801;

	.col-skew {
		background-color: #ff6801;
	}

	#intro-bg-img {
		background: $black url(/case-study/volvic/img/banner.jpg) no-repeat center top;
	    background-size: cover;
	}
}

// THEME JAGUAR LIVEFEARLESS
.cs-jaguar-livefearless {
	background-color: $red;

	.col-skew {
		background-color: $red;
	}

	#intro-bg-img {
		background: $black url(/case-study/jaguar/img/banner2.jpg) no-repeat center top;
	    background-size: cover;
	}
}

// THEME PG-TIPS CUPPACLUB
.cs-pgtips-cuppaclub {
	background-color: #02a85c;

	.col-skew {
		background-color: #02a85c;
	}

	#intro-bg-img {
		background: $black url(/case-study/pgtips/img/banner.jpg) no-repeat center right;
	    background-size: cover;
	}
}

// THEME HP MOVEMBER
.cs-hp-movember {
	.col-skew {
		background-color: #0d234e;
	}

	#intro-bg-img {
		background: $black url(/case-study/pgtips/img/banner.jpg) no-repeat center right;
	    background-size: cover;
	}
}

// THEME HP MOVEMBER
.cs-hp-movember {
	background-color: #132b51;

	.col-skew {
		background-color: #132b51;
	}

	#intro-bg-img {
		background: $black url(/case-study/hp/img/banner.jpg) no-repeat left 0;
	    background-size: cover;
	}
}

// THEME KLEENEX COLLECTION
.cs-kleenex-collection {
	background-color: #3292a0;

	.col-skew {
		background-color: #3292a0;
	}

	#intro-bg-img {
		background: $black url(/case-study/kleenex/img/banner.jpg) no-repeat center right;
	    background-size: cover;
	}
}

// THEME BULMERS BEGIN
.cs-bulmers-begin {
	background-color: $yellow;

	.col-skew {
		background-color: $yellow;
	}

	#case-study {
	 	#case-study-info {
	 		h2, p, a, li {
				color: $black;
	 		}
		}
	}

	#intro-bg-img {
		background: $black url(/case-study/bulmers/img/banner.jpg) no-repeat right -50px;
	    background-size: cover;
	}
}

// THEME PLAYBOY UK
.cs-playboy {
	background-color: #c8082d;

	.col-skew {
		background-color: #c8082d;
	}

	#intro-bg-img {
		background: $black url(/case-study/playboy/img/banner.png) no-repeat center center;
	    background-size: cover;
	}
}

// THEME LONDON 2012
.cs-olympics {
	background-color: #0172c0;

	.col-skew {
		background-color: #0172c0;
	}

	#intro-bg-img {
		background: $black url(/case-study/olympics/img/banner.jpg) no-repeat center -100px;
	    background-size: cover;
	}
}

// THEME TESCO ENOTRIA
.cs-tesco {
	background-color: #8dbb37;

	.col-skew {
		background-color: #8dbb37;
	}

	#intro-bg-img {
		background: $black url(/case-study/tesco/img/banner.jpg) no-repeat center -100px;
	    background-size: cover;
	}

	// #case-study-nav {
	// 	.go-prev:hover,
	// 	.go-next:hover,
	// 	.go-all:hover {
	// 		background-color: #8dbb37;
	// 	}
	// }
}

// THEME Honda Prototype
.cs-honda-prototype {
	background-color: $red;

	.col-skew {
		background-color: $red;
	}

	#intro-bg-img {
		background: $black url(/case-study/honda/img/banner.jpg) no-repeat center -50px;
	    background-size: cover;
	}
}

// Reposition background images for mobile 479px
@include media($mobile) {

	.cs-new-wild {
		#intro-bg-img {
			background-position: center top;
		}
	}

	.cs-womens-polo-link {
		#intro-bg-img {
			background-position: 0 0;
		}
	}

	.cs-varcale-entertainment {
		#intro-bg-img {
			background-size: 100%;
		}
	}

	.cs-beauty-of-brewing {
		#intro-bg-img {
			background-position: center -70px;
		}
	}

	.cs-heinz {
		#intro-bg-img {
			background-position: center -40px;
		}
	}

	.cs-ea-deathly-hallows {
		#intro-bg-img {
			background-position: -250px center;
		}
	}

	.cs-hp-movember {
		#intro-bg-img {
			background-position: -50px center;
		}
	}

	.cs-bulmers-begin {
		#intro-bg-img {
			background-position: -418px -50px;
		}
	}

	.cs-honda-prototype {
		#intro-bg-img {
			background-position: -55px -50px;
		}
	}
}
