.hamburger {
    position: fixed;
    z-index: 2001;
    top: 0px;
    right: 0px;
    padding: 12px;
    outline: 0;
    border: none;
    border-radius: 0px 0px 0 5px;    
    cursor: pointer;    
    background-color: $white;
}

#nav-icon {
    display: block;
    width: 50px;
    height: 33px;
    position: relative;
    cursor: pointer;    
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

#nav-icon span {
    display: block;
    position: absolute;
    height: .25em;
    width: 90%;
    background-color: $black;
    border-radius: 9px;
    opacity: 1;
    left: 4%;
    cursor: pointer;    
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    @extend .antialiased;      
}

#nav-icon span:nth-child(1) {
    top: 3px;
}

#nav-icon span:nth-child(2) {
    top: 14px;
}

#nav-icon span:nth-child(3) {
    top: 25px;
}

#nav-icon.open span:nth-child(1) {
      top: 14px;
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      transform: rotate(135deg);
      background-color: $black;
}

#nav-icon.open span:nth-child(2) {
   opacity: 0;
   left: -60px;
   background-color: $black;
}

#nav-icon.open span:nth-child(3) {
   top: 14px;
   background-color: $black;
   -webkit-transform: rotate(-135deg);
   -moz-transform: rotate(-135deg);
   -o-transform: rotate(-135deg);
   transform: rotate(-135deg);
}

.show-nav .hamburger {
   background-color: $white;
}

// Dark side of Nav for white BG sections
.show-nav .hamburger.darkNav {
   background-color: $white;
}

.hamburger.darkNav {
   background-color: $black;

   #nav-icon span {
     background-color: $white;
   }

   #nav-icon.open span {
     background-color: $black;
   }
}


