/* Overlay style */
.overlay {
	position: fixed;
	z-index: 2000;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #FFF;

		i {
			position: relative;
			margin-right: 15px;
			color: #FFF;			
			@include hover-links();

			a {
				position: absolute;
				top: 0;
				left: 0;
				display: block;
				width: 100%;
				height: 100%;
			}
		}
	
		i:hover {
			color: #0074c0;
			cursor: pointer;
		}

	.overlay-layer {
		position: absolute;
		top: 0;
		background-color: rgba(0, 0, 0, 0.41);
		opacity: .85;
		z-index: 1;
	    width: 100%;
	    left: 0;
	    height: 100%;		
	}

	video,img {
	    position: fixed;
	    top: 50%;
	    left: 50%;
	    min-width: 100%;
	    min-height: 100%;
	    width: auto;
	    height: auto;
	    z-index: 0;
	    -ms-transform: translateX(-50%) translateY(-50%);
	    -moz-transform: translateX(-50%) translateY(-50%);
	    -webkit-transform: translateX(-50%) translateY(-50%);
	    transform: translateX(-50%) translateY(-50%);
	    background: url(../img/video/space.jpg) no-repeat;
	    background-size: cover; 		
	}

	header, nav {
		position: relative;
		z-index: 10;
	}
}

/* Menu style */
.overlay nav {
	text-align: center;
	position: relative;
	top: 50%;
	height: 60%;
	font-size: 54px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative;
}

.overlay ul li {
	display: block;
	height: 20%;
	height: calc(100% / 8);
	min-height: 4px;
	padding: 5px 0;
	margin-bottom: 10px;
}

.overlay ul li.overlay-share {
	position: relative;
	margin-top: 30px;

	ul {
		position: absolute;
		top: 0;
		left: 0;
		width: 90%;
		margin: 0 5%;
		font-size: 10px;
		color: #FFF;		

		li {
			float: left;
			margin-right: 10px;
			display: block;
		}
	}
}

.overlay ul li.social a:hover {
	background-color: transparent;
}

.overlay ul li a {
    font-family: $font-med;
    display:block;
    text-decoration:none;
    text-transform: uppercase;
    padding: 0 10px;
    height:50px;
    line-height:50px;
    font-size:50px;
    font-weight: bold;
    color:#FFF;
    border:none;	
    -webkit-transition:all 800ms ease;
        -moz-transition:all 800ms ease;
            transition:all 800ms ease;
}

.overlay ul li a:hover,
.overlay ul li a.active {
	color: $white;
	background-color: $black;
}

.overlay ul li a:hover span.letter-yellow { color: $yellow;}
.overlay ul li a:hover span.letter-red { color: $red;}
.overlay ul li a:hover span.letter-green { color: $green;}
.overlay ul li a:hover span.letter-blue { color: $blue;}

.show-nav #body-nav ul li a {
	opacity:1;
}

.overlay ul li.overlay-share.show-hide { 
	//display: none;
}

.overlay ul li#nav-share {
	display: block;
}

/* Effects */
.overlay-hugeinc {
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;

	li.overlay-share { 
		display: none;
	}
}

.overlay-hugeinc.open {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;

	li.overlay-share { 
		display: block;
	}	
}

@media screen and (max-height: 30.5em) {
	.overlay nav {
		height: 70%;
		font-size: 34px;
	}

	.overlay ul li a {
		font-size: rem(36);
	}

}