html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.yellow {
  color: #ffc036; }

.red {
  color: #fd070d; }

.green {
  color: #009f5e; }

.blue {
  color: #0074c0; }

.white {
  color: #FFF; }

h2 {
  font-family: Arial black, Verdana, sans-serif;
  font-size: 3.125rem;
  text-transform: uppercase;
  margin: 0 0 20px 0;
  position: relative; }
  h2::after {
    clear: both;
    content: "";
    display: table; }

h2:after {
  position: absolute;
  bottom: 0;
  content: '';
  width: 63%;
  height: 5px;
  background-color: #000; }

header h2 {
  position: relative;
  padding-right: 25px; }
header h2, header p {
  float: right;
  text-align: right; }
header h2:before {
  content: "";
  position: absolute;
  right: 0;
  top: 27%;
  height: 37px;
  width: 15px;
  background-color: #fd070d; }
header p {
  width: 70%; }

p {
  font-size: 1rem;
  line-height: 1.5; }

li {
  list-style: none; }

#home,
#work,
#contact,
#contact-info,
footer {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto; }
  #home::after,
  #work::after,
  #contact::after,
  #contact-info::after,
  footer::after {
    clear: both;
    content: "";
    display: table; }

#work,
#contact {
  margin-top: 100px; }

#what-we-do .col {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  padding: 0;
  min-height: 800px; }
  #what-we-do .col:last-child {
    margin-right: 0; }

.col-no-skew .pe-thumbs li {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 19.99044%;
  margin-right: 0; }
  .col-no-skew .pe-thumbs li:last-child {
    margin-right: 0; }

#work .row {
  width: 100%;
  display: table;
  width: 100%;
  table-layout: fixed; }
  #work .row .view {
    display: table-cell;
    width: 33.33333%; }
    #work .row .view:nth-child(4n) {
      margin-right: 0; }
    #work .row .view:nth-child(4n+1) {
      clear: left; }

#contact-info {
  display: block; }
  #contact-info::after {
    clear: both;
    content: "";
    display: table; }

#offices,
#get-in-touch,
#follow-us {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  #offices:last-child,
  #get-in-touch:last-child,
  #follow-us:last-child {
    margin-right: 0; }

footer {
  display: block; }
  footer::after {
    clear: both;
    content: "";
    display: table; }
  footer .col {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    footer .col:last-child {
      margin-right: 0; }

.hamburger {
  position: fixed;
  z-index: 2000;
  top: 0px;
  right: 0px;
  padding: 12px;
  outline: 0;
  border: none;
  background-color: #FFF; }

#nav-icon {
  width: 50px;
  height: 33px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer; }

#nav-icon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 90%;
  background-color: #000;
  border-radius: 9px;
  opacity: 1;
  left: 4%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

#nav-icon span:nth-child(1) {
  top: 3px; }

#nav-icon span:nth-child(2) {
  top: 14px; }

#nav-icon span:nth-child(3) {
  top: 25px; }

#nav-icon.open span:nth-child(1) {
  top: 14px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  background-color: #FFF; }

#nav-icon.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
  background-color: #FFF; }

#nav-icon.open span:nth-child(3) {
  top: 14px;
  background-color: #FFF;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg); }

.show-nav .hamburger {
  background-color: #000; }

/* Overlay style */
.overlay {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #FFF; }
  .overlay header h1 {
    position: absolute;
    top: 0px;
    left: 30px;
    margin: 0;
    padding-top: 10px;
    font-family: Arial black, Verdana, sans-serif;
    font-size: 1.875rem;
    text-transform: uppercase; }
  .overlay i {
    position: relative;
    margin-right: 15px;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease; }
    .overlay i a {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%; }
  .overlay i:hover {
    color: #0074c0;
    cursor: pointer; }

/* Menu style */
.overlay nav {
  text-align: center;
  position: relative;
  top: 50%;
  height: 60%;
  font-size: 54px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative; }

.overlay ul li {
  display: block;
  width: 100%;
  height: 20%;
  height: calc(100% / 8);
  min-height: 4px;
  padding: 5px 0;
  margin-bottom: 10px; }

.overlay ul li:hover {
  background-color: #000; }

.overlay ul li#social:hover {
  background-color: transparent; }

.overlay ul li a {
  font-family: Arial, Verdana, sans-serif;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  height: 50px;
  line-height: 50px;
  font-size: 50px;
  font-weight: bold;
  color: #000;
  border: none;
  -webkit-transition: all 800ms ease;
  -moz-transition: all 800ms ease;
  transition: all 800ms ease; }

.overlay ul li:hover a {
  color: #FFF;
  font-weight: bold; }

.overlay ul li:hover span {
  color: #FFF;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  transition: all 500ms ease; }

.show-nav #body-nav ul li a {
  opacity: 1; }

/* Effects */
.overlay-hugeinc {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
  transition: opacity 0.5s, visibility 0s 0.5s; }

.overlay-hugeinc.open {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s; }

@media screen and (max-height: 30.5em) {
  .overlay nav {
    height: 70%;
    font-size: 34px; }

  .overlay ul li:hover {
    background-color: transparent; }

  .overlay ul li a {
    font-size: 36px; }

  .overlay ul li a:hover,
  .overlay ul li:hover span {
    color: #000; } }
#work .view {
  width: 100%;
  height: 250px;
  margin: 10px;
  border: 10px solid #000;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  background: #fff url(../img/bgimg.jpg) no-repeat center center; }
#work .view .mask, #work .view .content {
  width: 100%;
  height: 250px;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0; }
#work .view img {
  display: block;
  position: relative;
  width: 100%;
  height: 250px; }
#work .view h2 {
  font-family: Arial, Verdana, sans-serif;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  margin: 20px 0 0 0; }
#work .view p {
  font-family: Helvetica, Verdana, sans-serif;
  font-size: 0.875rem;
  position: relative;
  color: #fff;
  padding: 10px 20px 20px;
  text-align: center; }
#work .view a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  background: #000;
  color: #fff;
  box-shadow: 0 0 1px #000; }
#work .view a.info:hover {
  box-shadow: 0 0 5px #000; }
#work .view-first img {
  transition: all 0.2s linear; }
#work .view-first .mask {
  opacity: 0;
  background: rgba(0, 0, 0, 0.6);
  transition: all 0.4s ease-in-out; }
#work .view-first h2 {
  transform: translateY(-100px);
  opacity: 0;
  transition: all 0.2s ease-in-out; }
#work .view-first p {
  transform: translateY(100px);
  opacity: 0;
  transition: all 0.2s linear; }
#work .view-first a.info {
  opacity: 0;
  transition: all 0.2s ease-in-out; }
#work .view-first:hover img {
  transform: scale(1.1); }
#work .view-first:hover .mask {
  opacity: 1; }
#work .view-first:hover h2,
#work .view-first:hover p,
#work .view-first:hover a.info {
  opacity: 1;
  transform: translateY(0px); }
#work .view-first:hover p {
  transition-delay: 0.1s; }
#work .view-first:hover a.info {
  transition-delay: 0.2s; }

#bg-home {
  position: relative;
  background-color: #000; }

#home {
  background-color: #000;
  color: #FFF; }
  #home header h1 {
    position: relative;
    width: 350px;
    left: 25px;
    z-index: 0;
    margin: 0;
    padding-top: 10px;
    font-family: Arial black, Verdana, sans-serif;
    font-size: 1.875rem;
    text-transform: uppercase; }
  #home #slogan {
    width: 700px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -55%); }
    #home #slogan p {
      font-family: Arial, Verdana, sans-serif;
      font-size: 5rem;
      font-weight: bold;
      text-transform: uppercase;
      line-height: .95em;
      margin: 20px 0 13px;
      padding: 0; }
      #home #slogan p span {
        font-size: inherit; }
    #home #slogan span {
      font-family: Helvetica, Verdana, sans-serif;
      font-size: 2.8125rem;
      font-style: italic; }
    #home #slogan span#all-the-time {
      font-size: 2.1875rem; }

canvas {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  z-index: -1; }

#what-we-do-outer {
  overflow: hidden;
  height: 800px; }

#what-we-do {
  position: relative;
  background-color: #ffc036; }
  #what-we-do::after {
    clear: both;
    content: "";
    display: table; }
  #what-we-do .intro {
    font-size: 1.3125rem;
    font-family: Arial black, Verdana, sans-serif;
    line-height: 1.2; }
  #what-we-do h2:after {
    left: 0;
    width: 60%; }
  #what-we-do .col p {
    position: relative;
    z-index: 2; }
  #what-we-do .col-skew {
    padding: 25px 30px;
    background-color: #ffc036; }
  #what-we-do .col-skew:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 38%;
    width: 18%;
    background: #ffc036;
    -webkit-transform: skewX(-8deg);
    transform: skewX(-8deg); }
  #what-we-do .col-no-skew {
    background-color: #000; }
    #what-we-do .col-no-skew .pe-thumbs {
      margin: 0;
      padding: 0; }
    #what-we-do .col-no-skew .pe-thumbs li img {
      display: block;
      width: 100%;
      height: 100%; }
    #what-we-do .col-no-skew .pe-thumbs li a,
    #what-we-do .col-no-skew .pe-thumbs li a img {
      display: block;
      position: relative; }
    #what-we-do .col-no-skew .pe-thumbs li a img {
      opacity: 1;
      height: 100px; }
    #what-we-do .col-no-skew .pe-thumbs li a div.pe-description {
      width: 200px;
      height: 100px;
      background: rgba(0, 0, 0, 0.8);
      position: absolute;
      top: 0px;
      left: -200px;
      color: white;
      display: none;
      z-index: 1001;
      text-align: left; }
    #what-we-do .col-no-skew .pe-description h3 {
      padding: 10px 10px 0px 10px;
      line-height: 20px;
      font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
      font-size: 22px;
      margin: 0px; }
    #what-we-do .col-no-skew .pe-description p {
      padding: 10px 0px;
      margin: 10px;
      font-size: 11px;
      font-style: italic;
      border-top: 1px solid rgba(255, 255, 255, 0.3); }

#work {
  min-height: 800px; }
  #work h2:after {
    right: 25px; }

#work .row {
  border-right: 1px solid white;
  margin-right: 1px; }
  #work .row .view {
    background-color: #000;
    height: 250px;
    margin-bottom: 1px;
    border: 1px solid #FFF;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; }

#contact header::after {
  clear: both;
  content: "";
  display: table; }
#contact header h2 {
  margin: 0 auto 25px auto;
  float: none;
  padding: 0;
  width: 341px; }
#contact header h2, #contact header p {
  text-align: center; }
#contact header p {
  width: 70%;
  margin: 0 15%; }
#contact header h2:before {
  left: 9px;
  background-color: #0074c0; }
#contact header h2:after {
  left: 37px; }

#map {
  margin-top: 30px;
  width: 100%;
  height: 375px; }

#contact-info {
  margin: 30px auto; }
  #contact-info h2 {
    font-family: Arial black, Verdana, sans-serif;
    font-size: 1.5rem;
    text-align: center; }
  #contact-info h2:after {
    width: 50%;
    bottom: -5px;
    left: 50%;
    margin-left: -80px; }
  #contact-info p {
    text-align: center; }

#offices,
#get-in-touch,
#follow-us {
  min-height: 200px; }
  #offices a,
  #get-in-touch a,
  #follow-us a {
    color: #000; }

#offices i {
  padding-right: 5px; }

#get-in-touch a:hover,
#offices a:hover {
  text-decoration: none;
  background-color: #0074c0;
  color: #FFF;
  padding: 2px 5px; }

#follow-us ul {
  padding: 0; }
  #follow-us ul li {
    text-align: center; }
  #follow-us ul i {
    position: relative;
    margin-right: 15px; }
    #follow-us ul i a {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%; }
  #follow-us ul i:hover {
    color: #0074c0;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease; }

#footer-outer {
  width: 100%;
  background-color: #000; }

footer {
  min-height: 285px;
  background-color: #000; }
  footer .col {
    min-height: 285px;
    padding: 25px 0; }
  footer p, footer i, footer a {
    font-size: 0.75rem;
    color: #FFF;
    font-family: Verdana, Arial, sans-serif; }
  footer ul li i {
    position: relative;
    margin-left: 10px; }
    footer ul li i a {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%; }
  footer ul li i:hover {
    color: #0074c0;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease; }
  footer #footer-logo {
    font-size: 30px;
    font-family: Arial black, Verdana, sans-serif;
    text-transform: uppercase;
    line-height: 1em;
    margin: 0; }
  footer #footer-info a:hover {
    color: #0074c0;
    text-decoration: none; }
  footer #copyright {
    box-sizing: border-box;
    padding-top: 112px;
    text-align: right; }
  footer #border-right {
    padding-right: 15px;
    border-right: 10px solid #0074c0; }

/*# sourceMappingURL=styles.css.map */
