$font-logo: Arial black, Verdana, sans-serif;
$font-headers: Arial, Verdana, sans-serif;
$font-text: Helvetica, Verdana, sans-serif;
$black: #000;
$white: #FFF;
$content-size: rem(16);

.yellow { color: #ffc036;}
.red { color: #fd070d;}
.green { color: #009f5e;}
.blue { color: #0074c0;}
.white { color: #FFF;}

h2 {
	@include clearfix();	
	font-family: $font-logo;
	font-size: rem(50);
	text-transform: uppercase;
	margin: 0 0 20px 0;
	position: relative;
}

	 h2:after {
	 	position: absolute;
	 	bottom: 0;
	 	content: '';
	 	width: 63%;
	 	height: 5px;
	 	background-color: #000;
	 }

// Section headers with intro paragaph
header {

	h2 {
		position: relative;
		padding-right: 25px;
	}

	h2, p {
		float: right;
		text-align: right;
	}	

	h2:before {
		content: "";
		position: absolute;
		right: 0;
		top: 27%;
		height: 37px;
		width: 15px;
		background-color: #fd070d;
	}

	p {
		width: 70%;
	}	
}

p {
	font-size: $content-size;
	line-height: 1.5;
}

li {
	list-style: none;
}