$font-logo: Arial black, Verdana, sans-serif;
$font-text: Helvetica, Verdana, sans-serif;
$font-headers: Arial, Verdana, sans-serif;
$black: #000;

.yellow { color: #ffc036;}
.red { color: #fd070d;}
.green { color: #009f5e;}
.blue { color: #0074c0;}
.white { color: #FFF;}