$font-thick: 'Arial black', Verdana, sans-serif;
$font-med: Arial, Verdana, sans-serif;
$font-text: Helvetica, Verdana, sans-serif;
$text-size: rem(15);

$black: #000;
$white: #FFF;
$yellow: #ffc036;
$red: #fd070d;
$green: #009f5e;
$blue: #0074c0;

.yellow { color: #ffc036;}
.red { color: #fd070d;}
.green { color: #009f5e;}
.blue { color: #0074c0;}
.white { color: #FFF;}