// NEAT GRID LAYOUT FOR SECTIONS (desktop version only)
#home,
.overlay h1,
#services header,
#work header,
#clients header,
#clients,
#contact,
#contact-info,
#site-header,
#error-404,
footer {
	@include outer-container(1024px);
}	

#services,
#work,
#clients,
#contact {
	margin-top: 100px;
	@include clearfix();
}

#what-we-do-outer {
	position: relative;
}

#what-we-do,
#case-study {
	.col {
		@include span-columns(6);
		@include pad(0);
		@include omega();
	}
}

#case-study-nav {
	.col {
		@include span-columns(4);
		@include pad(0);
		@include omega();
	}
}

#package-deals {
	@include outer-container(1200px);

	.col {
		@include span-columns(4);
		@include omega();
	}
}

.col-no-skew {
	.pe-thumbs li {
		@include span-columns(4);
		@include omega();
	}
}

#work {
	.row {
		@include row();
		.view {
			// Height determined by image size
			@include span-columns(4);
			border: 1px solid $white;
		}
	}
}

#clients {
	min-height: 1000px;
	.row {
		@include row();
		.client {
			@include span-columns(3);
			@include omega(4n);
			border: 1px solid $white;
		}
	}
}

#contact-info {
	@include row();
}

#offices,
#get-in-touch,
#follow-us {
	@include span-columns(4);
}

footer {
	@include row();
	.col {
		@include span-columns(6);
	}
}