// NEAT GRID LAYOUT FOR SECTIONS (desktop version only)
#section-home,
.overlay h1,
#section-work header,
#section-clients header,
#section-clients,
#section-contact,
#contact-info,
#site-header,
#error-404,
#terms,
footer {
	@include outer-container(1024px);
}

#section-services,
#section-work,
#section-clients,
#section-contact {
	margin-top: 100px;
	@include clearfix();
}

#what-we-do-outer {
	position: relative;
}

#section-what-we-do,
#case-study {
	.col {
		@include span-columns(6);
		@include pad(0);
		@include omega();
	}
}

#case-study-nav {
	.col {
		@include span-columns(4);
		@include pad(0);
		@include omega();
	}
}

#package-deals,
.packages-banner.container,
#pck-services .container {
	@include outer-container(1200px);

	.col {
		@include span-columns(4);
		width: 31.3333%;
		margin-right: 2%;
	}

	.col-6 {
		@include span-columns(6);
	}
}

#process-steps {
	@include outer-container(1200px);

	.col {
		@include span-columns(3);
		@include omega(4n);
		width: 23%;
		margin-right: 2%;
	}
}

.col-no-skew {
	.pe-thumbs li {
		@include span-columns(4);
		@include omega();
	}
}

#section-work {
	.row {
		@include row();
		.view {
			// Height determined by image size
			@include span-columns(4);
			border: 1px solid $white;
		}
	}
}

#section-clients {
	min-height: 1000px;
	.row {
		@include row();
		.client {
			@include span-columns(3);
			@include omega(4n);
			border: 1px solid $white;
		}
	}
}

#contact-info {
	@include row();
}

#offices,
#get-in-touch,
#follow-us {
	@include span-columns(4);
}

footer {
	@include row();
	.col {
		@include span-columns(6);
	}
}