#home {
	@include outer-container(1024px);
}

#bg-services {
	overflow: hidden;
	height: 750px;
}

#services {
    display:table;
    position:relative;
    table-layout:fixed;
    border-collapse:collapse;

	.col {
		@include span-columns(5);
		@include omega();
		@include pad(0);
		float: none;
	    display:table-cell;
	    vertical-align:top;	
			
			p {
			    position:relative;
			    z-index:2;
			}
	}

	.col-skew {
		padding: 25px 30px;
		background-color: #ffc036;
	}

	.col-skew:after {
	    content:"";
	    position:absolute;
	    z-index:1;
	    top:0;
	    bottom:0;
	    left:35%;
	    width:18%;
	    background:#ffc036;
	    -webkit-transform:skewX(-8deg);
	    transform:skewX(-8deg);
	}

	.col-no-skew {
		ul {
			margin: 0;
			padding: 0;
		}
		
		li {
			list-style-type: none;
			@include span-columns(2);
			@include omega();
			@include pad(0);
			height: 100px;

			img {
				display: block;
				width: 100%;
				height: 100%;
			}
		}

		// .pe-thumbs
		.pe-thumbs li {
			//position: relative;
		}
		.pe-thumbs li a,
		.pe-thumbs li a img{
			display: block;
			position: relative;
		}
		.pe-thumbs li a img{
			width: 100px;
			opacity: 0.8;
		}
		.pe-thumbs li a div.pe-description{
			width: 200px;
			height: 100px;
			background: rgba(0,0,0,0.8);
			position: absolute;
			top: 0px;
			left: -200px;
			color: white;
			display: none;
			z-index: 1001;
		}		
		
		.pe-thumbs li a div.pe-description{
			width: 200px;
			height: 100px;
			background: rgba(0,0,0,0.8);
			position: absolute;
			top: 0px;
			left: -200px;
			color: white;
			display: none;
			z-index: 1001;
			text-align: left;
		}
		.pe-description h3{
			padding: 10px 10px 0px 10px;
			line-height: 20px;
			font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
			font-size: 22px;
			margin: 0px;
		}
		.pe-description p{
			padding: 10px 0px;
			margin: 10px;
			font-size: 11px;
			font-style: italic;
			border-top: 1px solid rgba(255,255,255,0.3);
		}
		// li.nth {
		// 	@include omega(4n);
		// }
	}


}

