// NEAT GRID LAYOUT FOR SECTIONS
#home,
#work,
#contact,
#contact-info,
footer {
	@include outer-container(1024px);
}

#work,
#contact {
	margin-top: 100px;
}

#what-we-do {
	.col {
		@include span-columns(6);
		@include pad(0);
		min-height: 800px;
	}
}

.col-no-skew {
	.pe-thumbs li {
		// position: relative;
		@include span-columns(2.62); // Same as 16.66%
		@include omega();
	}	
}

#work {
	.row {
		@include fill-parent();
		@include row(table);
		
			.view {
				@include span-columns(4);
				//@include pad();
				@include omega(4n);
			}
	}
}

#contact-info {
	@include row();
}

#offices,
#get-in-touch,
#follow-us {
	@include span-columns(4);
}

footer {
	@include row();
	.col {
		@include span-columns(6);
	}
}







