// NEAT GRID LAYOUT FOR SECTIONS
#home,
#work header,
#clients header,
#contact,
#contact-info,
footer {
	@include outer-container(1024px);
}

#work,
#clients,
#contact {
	margin-top: 100px;
	@include clearfix();
}

#what-we-do {
	.col {
		@include span-columns(6);
		@include pad(0);
		@include omega();
		min-height: 1000px;
	}
}

.col-no-skew {
	.pe-thumbs li {
		// position: relative;
		@include span-columns(3);
		@include omega();
	}	
}

#work {
	.row {
		.view {
			// Height of 
			@include span-columns(4);
			@include omega(3n);
			margin-bottom: 1px;
			border: 1px solid $white;
		}
	}
}

#clients {
	.row {
		.client {
			@include span-columns(3);
			@include omega(4n);
			margin-bottom: 1px;
			border: 1px solid $white;			
		}		
	}
}

#contact-info {
	@include row();
}

#offices,
#get-in-touch,
#follow-us {
	@include span-columns(4);
}

footer {
	@include row();
	.col {
		@include span-columns(6);
	}
}