// DESKTOP large | Min 1024px
$desktop-1440: new-breakpoint(min-width 1440px);

@include media($desktop-1440) {
	footer {
		max-width: 94%;
		margin: 0 3%;
	} 
}

// DESKTOP large | Max 1024px
$desktop-1200: new-breakpoint(max-width 1200px);

@include media($desktop-1200) {
	#section-work {
		h1, p {
			float: left;
			text-align: left;
		}

		h1 {
			padding-left: 25px;
		}

		h1:before {
			left: 0;
			right: auto;
		}

		h1:after {
			left: 25px;
		}
	}

	#package-deals,
	#process-steps {
		padding: 0 3%;
		@include transition();
	}
	
	// Packages section even up columns height
	#package-deals  {
		article {
			min-height: 900px;
		}
	}
}

// DESKTOP | Min 1025px
// @include media($large-desktop) {
// }

// DESKTOP | Max 1024px
@include media($desktop) {

	// Logo spacing
	#section-home {
		h1 {
			width: auto;
		}
	}
	
	// Spacing for header sections
	section header,
	#site-header,
	#package-deals,
	.overlay h1 {
		padding: 0 3%;
		@include transition();
	}
	
	// Reset padding to even out columns
	#case-study-intro,
	#case-study-info header {
		padding: 0;
	}
	
	.overlay {
		padding-top: 5px;
	}

	footer .col {
		padding: 2% 3%;
	}

	#package-deals {
		.col {
			@include span-columns(6);
			width: 48%;
			margin-right: 2%;
		}
		
		.col-12 {
			@include span-columns(12);
		}
	}

	#process-steps {
		.col {
			@include span-columns(6);
			width: 48%;
			margin-right: 2%;
			height: auto;
		}
	}

	#package-deals {
		article {
			min-height: 0;
				p.guarantee {
					margin-top: 25px;	
				}
		}
	}	

	#terms {
		padding: 0 3%;
	}
}

// TABLET | Max width 800px
@include media($tablet) {

	header h1,
	.overlay h1, 
	header .intro,
	#section-what-we-do .intro, 
	#contact-info h2, 
	footer #footer-logo, 
	#section-work .row .view .mask p span {
		font-family: arial_blackregular, Arial, Verdana, sans-serif;
	}

	header h1 {
		font-size: rem(30);
	}
	
	header h1:before {
		height: 31px;
	}
	
	#section-contact h1 {
		padding-left: 25px;
		text-align: left;
	}

	#section-what-we-do header {
		padding: 0;
	}

	#section-home {
		background: url(../img/global/bg-emitter.png) center center no-repeat;
		background-size: contain;

		#slogan {
			width: 82%;			
	
			p {
				font-size: rem(72);
			}
		}
	}

	#what-we-do-outer {
		height: auto;
	}

	#section-what-we-do {
		height: auto;
		background-color: $yellow;
		
		.col {
			min-height: auto;
		}

		.col-skew {
			width: 100%;
			height: auto;
			padding: 5%;			
		}

		.col-no-skew,
		.col-skew:after {
			display: none;
		}	

		// Trigger show hide text in what we do
		.show-hide {
			float: none;
			display: inline-block;
		}		
	}

	#section-work {
		.row {
			.view {
				@include span-columns(6);
				@include omega-reset(3n);

		    	&:last-child {
		    		display: block;
		    	}				
			}
		}

		.view.coming-soon p,
		.view.find-out-more p {
			font-size: rem(26);
		}
	}

	#section-clients {
		.row {
			.client {
				@include span-columns(4);
				@include omega-reset(4n);
			}
		}

		.scroll-down a {
			background: url(../img/global/iconArrowDown.png);
		}
	}

	#section-contact {
		p {
			width: 100%;
			margin: 0%;
		}
	}

	#offices, #get-in-touch, #follow-us {
		min-height: auto;
		@include span-columns(12);		
	}

	#quick-message #contact-form {
	    width: 100%;
	}	

	canvas, 
	#nav-mini {
		display: none;
	}
	.overlay {
	 	ul li a.active {
			background: none;
			color: $white;
		}
	}

	#case-study-outer {
		padding: 0 2%;	
	}

	#case-study {
		.col,
		#case-study-info,
		#case-study-img  {
			@include span-columns(12);
		}

		.col-no-skew,
		.col-skew:after {
			display: none;
		}			
	}

	#page-packages {
		.col-3 {
			@include span-columns(12);
		}
	}

	// Paddding for col skew on case study page
	#site-header-outer #site-header .col-skew,
	#case-study-outer #case-study .col-skew	{
		height: auto;
		padding: 25px 4%;
	}
}

// TABLET 600PX | Logo stack: ;
$tablet-600: new-breakpoint(max-width 600px);

@include media($tablet-600) {
	#section-home,
	.overlay,
	#site-header-outer #site-header {
		h1 {
			width: 150px;
			line-height: 1em;
			font-size: rem(25);
			padding-left: 0;
			padding: 5px;
			
				a {				
					span {
						width: auto;
						padding: 3px 5px;
						margin-top: 4px;					
					}
				}
		}
	} 

	#section-home {
		#slogan p {
			font-size: rem(64);
		}
	}

	.overlay {
		h1 {		  
	    	position: absolute;
			left: 12px;		 
		}
	}

	#case-study #case-study-intro {
		h1 {
			line-height: normal;
			width: 100%;
		}

		h1:after {
			width: 170px;
		}
	}

	#section-home,
	#site-header {
		#social-links ul#share-me {
			@include media($tablet-600) {
				top: 120px;
				right: -15px;
			}
		}		
	}
	
	#package-deals,
	#process-steps,
	#pck-services .container {
		.col, .col-4, .col-6 {
			@include span-columns(12);
		}		
	}
	
	#package-deals #business h2	.star-pop {
			top: -36px;
	    	right: -7px;			
	}

	.packages-banner {
		.three-points {
			width: 100%;
		}
	}

	#process-steps {
		article {
			min-height: 0;
		}
	}	
}


// MOBILE | max width 479px
@include media($mobile) {

	#section-work,
	#section-clients,
	#section-contact {
		margin-top: 25px;
		@include clearfix();
	}
	
	header p {
		width: 100%	;
	}

	#section-home {
		#slogan {

			p {
				font-size: rem(36);
				line-height: 1.1em;
			}

			span, 
			span#all-the-time {
				font-size: rem(30);	
			}
		}
	}

	#section-work {
		.row {
			.view {
				@include span-columns(12);
			}
		}
	}

	#section-clients {
		.row {
			.client {
				@include span-columns(6);
			}		
		}
	}

	.fa-1x {
		font-size: rem(40);
	}

	#quick-message {
		h1 {
			width: 100%;
			font-size: rem(30);
			text-align: left;
		}

		h1:after {
			bottom: -4px;
		}
	}

	footer #copyright-info {
		height: 215px;
		ul {
			padding: 0;
		}
	}

	.overlay ul li { 
		height: calc(100% / 9);
			a {
				font-size: rem(30);
			}
	}

	li.overlay-share ul li {
		margin-bottom: 20px;
	}

	.overlay ul li.overlay-share {
		margin: 0;
		ul {
			width: 100%;
			margin: 0;
			position: relative;
			left: auto;
		}		
	}

	#case-study-outer #case-study #case-study-info header #controls {
		position: relative;
		float: right;
	}
}

// MOBILE SMALL | max width 320px
@include media($small-mobile) {
	#section-what-we-do h1 {
		font-size: rem(34);
	}

	#social-links {
		display: none;
	}

	#quick-message h1 {
		font-size: 1.7rem;
	}
}


$mobile-home: new-breakpoint(max-height 414px);

@include media($mobile-home) {
	#section-home {
		#slogan {
			width: 40%;

			p {
				font-size: rem(30);
				line-height: 1.1em;
			}

			span, 
			span#all-the-time {
				font-size: rem(30);	
			}			
		}
		
		#mouse-scroll {
			display: none;
		}
		
		#social-links {
			display: none;
		}		
	}
	
	#section-home h1, 
	.overlay h1,
	#case-study h1 {
		font-size: rem(20);
	}

	.overlay {
		nav {
			top: 40%;
		}

		ul li { 
			height: calc(100% / 10);

			a {
				font-size: rem(26);
			}
		}
		
		li.overlay-share ul li {
			margin-bottom: 20px;
		}

		li.social {
			margin-top: 20px;
		}

	 	ul li a.active {
			background: none;
			color: $white;
		}


	}
}

