// DESKTOP | Max 1024px
@include media($desktop) {

	// Logo spacing
	#home {
		h1 {
			width: auto;
		}
	}
	
	// Spacing for header sections
	section header,
	.overlay h1 {
		padding: 0 3%;
	}
	
	.overlay {
		padding-top: 5px;
	}

	footer .col {
		padding: 2% 3%;
	}
}

// TABLET | Max width 800px
@include media($tablet) {

	#what-we-do header {
		padding: 0;
	}

	#home {
		#slogan {
			width: 82%;
	
			p {
				font-size: rem(72);
			}
		}
	}

	#what-we-do-outer {
		height: auto;
	}

	#what-we-do {
		background-color: $yellow;
		
		.col {
			min-height: auto;
		}

		.col-skew {
			width: 100%;
			height: auto;
			padding: 5%;			
		}

		.col-no-skew,
		.col-skew:after {
			display: none;
		}	
	}

	#work {
		.row {
			.view {
				@include span-columns(6);
				@include omega-reset(3n);
			}
		}

		h1, p {
			float: left;
			text-align: left;
		}

		h1 {
			padding-left: 25px;
		}

		h1:before {
			left: 0;
			right: auto;
		}

		h1:after {
			left: 25px;
		}
	}

	#clients {
		.row {
			.client {
				@include span-columns(4);
				@include omega-reset(4n);
			}		
		}
	}

	#offices, #get-in-touch, #follow-us {
		min-height: auto;
		@include span-columns(12);		
	}

	#quick-message #contact-form {
	    width: 100%;
	}	

	canvas, 
	#nav-mini {
		display: none;
	}

}	

// TABLET 600PX | Logo stack: ;
$tablet-600: new-breakpoint(max-width 600px);

@include media($tablet-600) {
	#home,
	.overlay {
		h1 {
			width: 150px;
			line-height: 1em;
			font-size: rem(30);
			padding-left: 0;
		}
	} 

	#home {
		#slogan p {
			font-size: rem(64);
		}
	}

	.overlay {
		h1 {		  
	    	position: absolute;
			left: 10px;		 
		}
	}

	#home {
		#social-links ul#share-me {
			@include media($tablet-600) {
				top: 120px;
				right: -15px;
			}
		}		
	}
}


// MOBILE | max width 479px
@include media($mobile) {

	#work,
	#clients,
	#contact {
		margin-top: 25px;
		@include clearfix();
	}
	
	header p {
		width: 100%	;
	}

	#contact p {
		margin: 0;
	}

	#home {
		#slogan {

			p {
				font-size: rem(36);
			}

			span, 
			span#all-the-time {
				font-size: rem(30);	
			}
		}
	}

	#work {
		.row {
			.view {
				@include span-columns(12);
			}
		}
	}

	#clients {
		.row {
			.client {
				@include span-columns(6);
			}		
		}
	}

	.fa-2x {
		font-size: 1.75em;
	}

}

// MOBILE SMALL | max width 320px
@include media($small-mobile) {
	#social-links {
		display: none;
	}

	#what-we-do h1 {
		font-size: rem(34);
	}
}


$mobile-home: new-breakpoint(max-height 414px);

@include media($mobile-home) {
	#home {

		#slogan {
			width: 40%;

			p {
				font-size: rem(30);
				line-height: 1.1em;
			}

			span, 
			span#all-the-time {
				font-size: rem(30);	
			}			
		}
		
		#mouse-scroll {
			display: none;
		}
	}
	
	#home h1, 
	.overlay h1 {
		font-size: rem(20);
	}
}

