/* Overlay style */
.overlay {
	position: fixed;
	z-index: 2000;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #FFF;

		header h1 {
			position: absolute;
			top: 0px;
			left: 30px;
			margin: 0;
			padding-top: 10px;
			font-family: $font-logo;
			font-size: rem(30);
			text-transform: uppercase;
		}

		i {
			position: relative;
			margin-right: 15px;
			-webkit-transition:all 300ms ease;
				-moz-transition:all 300ms ease;
					transition:all 300ms ease;

			a {
				position: absolute;
				top: 0;
				left: 0;
				display: block;
				width: 100%;
				height: 100%;
			}
		}

		i:hover {
			color: #0074c0;
			cursor: pointer;
		} 

}

/* Menu style */
.overlay nav {
	text-align: center;
	position: relative;
	top: 50%;
	height: 60%;
	font-size: 54px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	width: 100%;
	height: 100%;
	position: relative;
}

.overlay ul li {
	display: block;
	width: 100%;
	height: 20%;
	height: calc(100% / 8);
	min-height: 4px;
	padding: 5px 0;
	margin-bottom: 10px;
}

// .overlay ul li:hover {
//   background-color: #000;
// }

// .overlay ul li#social:hover {
//   background-color: transparent;
// }

.overlay ul li a {
    font-family: $font-headers;
    display:block;
    text-decoration:none;
    text-transform: uppercase;
    height:50px;
    line-height:50px;
    font-size:50px;
    font-weight: bold;
    color:#000;
    //opacity:0;
    border:none;	
    -webkit-transition:all 800ms ease;
        -moz-transition:all 800ms ease;
            transition:all 800ms ease;
}

.overlay ul li.yellow:hover a {
  color: $yellow;
  font-weight: bold;
}

.overlay ul li.red:hover a {
  color: $red;
  font-weight: bold;
}
.overlay ul li.green:hover a {
  color: $green;
  font-weight: bold;
}
.overlay ul li.blue:hover a {
  color: $blue;
  font-weight: bold;
}

// .overlay ul li:hover span {
//   	color: #FFF;
// 	-webkit-transition:all 500ms ease;
// 	    -moz-transition:all 500ms ease;
// 	        transition:all 500ms ease;
// }

.show-nav #body-nav ul li a {
	opacity:1;
}

/* Effects */
.overlay-hugeinc {
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
}

.overlay-hugeinc.open {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

@media screen and (max-height: 30.5em) {
	.overlay nav {
		height: 70%;
		font-size: 34px;
	}
	.overlay ul li:hover {
		background-color: transparent;
	}

	.overlay ul li a {
		font-size: 36px;
	}

	.overlay ul li a:hover,
	.overlay ul li:hover span {
		color: #000;
	}	
}