// Font that was used on my portfolio for the headesr on the work items
@font-face {
    font-family: 'arial_blackregular';
    src: url('../fonts/arial_black/arial_black-webfont.eot');
    src: url('../fonts/arial_black/arial_black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arial_black/arial_black-webfont.woff2') format('woff2'),
         url('../fonts/arial_black/arial_black-webfont.woff') format('woff'),
         url('../fonts/arial_black/arial_black-webfont.svg#arial_blackregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futuraLT';
    src: url('../fonts/futuraLT/futuraLT-CondensedBold.eot');
    src: url('../fonts/futuraLT/futuraLT-CondensedBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futuraLT/futuraLT-CondensedBold.woff') format('woff'),
         url('../fonts/futuraLT/futuraLT-CondensedBold.svg#futuraLT') format('svg');
    font-weight: normal;
    font-style: normal;
}

section header {
	@include clearfix();
	margin-bottom: 10px;
	overflow: hidden;
}

p, li {
	font-size: $text-size;
	line-height: 1.5;
}

// Global section headers with intro paragaph
header {
	h1 {
		position: relative;
		margin: 0px;
		padding-right: 25px;
		font-family: $font-thick;
		font-size: rem(36);
		text-transform: uppercase;
		@extend .antialiased;
	}
		
		// Color bar
		h1:before {
			position: absolute;
			right: 0;
			top: 27%;
			height: 37px;
			width: 15px;
			background-color: $red;
			content: '';
		}
		
		// Underline
		h1:after {
			position: absolute;
			bottom: 0;
			height: 5px;
			background-color: $black;
			content: '';
		}

		p {			
			width: 70%;
			clear: both;
		}
}

#site-header {
	h1 {
		float: left;
		width: auto;
		padding-top: 5px;
		font-size: rem(30);
		z-index: 1;
		
		img {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
	}

	h1:before,
	h1:after {
		display: none;
	}

	p {
		@include hide-text;
	}
}

#section-what-we-do,
#case-study {
	h1, p {
		width: 100%;
	}
	
	h1:before {
		display: none;
	}

	h1:after {
		left: 0;
		width: 222px;;
	}
}

#section-work {
	h1, p {
		float: right;
		text-align: right;
	}

	h1:after {
		right: 25px;
	 	width: 72%;
	}
}

#section-services,
#section-clients,
#page-error-404 {
	h1, p {
		float: left;
		text-align: left;
	}
	
	h1 {
		padding-left: 25px;
	}

	h1:before {
		left: 0;
		background-color: $green;
	}

	h1:after {
		left: 25px;
	 	width: 61%;		
	}
}

#error-404 {
	h1 {
		line-height: 1em;
		padding-bottom: 6px;
		padding-left: 25px;

			&:before {
				top: 0;
			}

			&:after {
				left: 25px;
				width: 36%;
			}
	}
}

#section-services {
	h1:before {
		left: 0;
		background-color: $yellow;
	}
}

#error-404 {
	h1:before {
		left: 0;
		background-color: $red;
	}		
}

#case-study {
	#case-study-info {
		header {			
			h1:before {
				display: none;
			}
			
			p {
				margin: 0;
				font-weight: bold;
			}
		}

		h2 {
			font-family: $font-thick;
			font-size: rem(18);
			text-transform: uppercase;
			line-height: 1;
			color: $white;
		}		

		p, li {
			width: 100%;
			font-size: rem(14);
		}

		p, a, li {
			color: $white;
		}
	}
}

#section-contact,
#quick-message {
	h1 {
		margin: 0 auto 18px auto;
		padding: 0;
		width: 245px;
		text-align: center;
	}

	h1:before {
		left: 0;
		background-color: $blue;
	}

	h1:after {
		left: 26px;
		width: 65%;
	}

	p {
		margin: 0 15%;
		text-align: center;
	}
}

#section-contact {
	p {
		width: 50%;
		margin: 0 22%;
	}
}

#quick-message {
	h1 {
		width: 400px;
		padding-left: 25px;
		text-align: left;
		color: $white;
	}

	h1:before {
		left: 0;
		background-color: $blue;
	}

	h1:after {
		width: 73%;
		left: 29px;
		background-color: $white;
	}

	p {
		color: $white;
		text-align: center;
	}	
}

#contact-info {
	h2 {
		position: relative;
		font-family: $font-thick;
		font-size: rem(24);
		text-transform: uppercase;
		text-align: center;
	}

	h2:after {
		position: absolute;
		height: 3px;
		width: 160px;
		bottom: -2px;
		left: 50%;
		margin-left: -80px;
		background-color: $black;
		content: '';		
	}

	p {
		text-align: center;
	}	
}

.overlay {
	h1 {
		padding-top: 5px;
		font-family: $font-thick;
		font-size: rem(30);
		color: #FFF;		
	}

		h1:before {
			display: none;
		}	
}