@font-face {
    font-family: 'arial_blackregular';
    src: url('../fonts/arial_black/arial_black-webfont.eot');
    src: url('../fonts/arial_black/arial_black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arial_black/arial_black-webfont.woff2') format('woff2'),
         url('../fonts/arial_black/arial_black-webfont.woff') format('woff'),
         url('../fonts/arial_black/arial_black-webfont.svg#arial_blackregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futuraLT';
    src: url('../fonts/futuraLT/futuraLT-CondensedBold.eot');
    src: url('../fonts/futuraLT/futuraLT-CondensedBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futuraLT/futuraLT-CondensedBold.woff') format('woff'),
         url('../fonts/futuraLT/futuraLT-CondensedBold.svg#arial_blackregular#futuraLT') format('svg');
    font-weight: normal;
    font-style: normal;
}

section header {
	@include clearfix();
	margin-bottom: 10px;
	overflow: hidden;
}

p {
	font-size: $text-size;
	line-height: 1.5;
}

li {
	list-style: none;
}

// Global section headers with intro paragaph
header {
	h1 {
		position: relative;
		margin: 0px;
		padding-right: 25px;
		font-family: $font-thick;
		font-size: rem(36);
		text-transform: uppercase;
		@extend .antialiased;
	}
		
		// Color bar
		h1:before {
			position: absolute;
			right: 0;
			top: 27%;
			height: 37px;
			width: 15px;
			background-color: $red;
			content: '';
		}
		
		// Underline
		h1:after {
			position: absolute;
			bottom: 0;
			height: 5px;
			background-color: $black;
			content: '';
		}

		p {			
			width: 70%;
			clear: both;
		}
}

#logo {
	h1 {
		float: left;
		width: 380px;
		padding-top: 5px;
		font-size: rem(30);
		z-index: 1;		
	}

	h1:before {
		display: none;
	}

	p {
		@include hide-text;
	}
}

#what-we-do,
#case-study {
	h1, p {
		width: 100%;
	}
	
	h1:before {
		display: none;
	}

	h1:after {
		left: 0;
		width: 222px;;
	}
}

#work {
	h1, p {
		float: right;
		text-align: right;
	}

	h1:after {
		right: 25px;
	 	width: 72%;
	}
}

#services,
#clients {
	h1, p {
		float: left;
		text-align: left;
	}
	
	h1 {
		padding-left: 25px;
	}

	h1:before {
		left: 0;
		background-color: $green;
	}

	h1:after {
		left: 25px;
	 	width: 61%;		
	}
}

#services {
	h1:before {
		left: 0;
		background-color: $yellow;
	}		
}

#case-study {
	#case-study-info {
		header {
			h1 {
				font-size: rem(24);
				margin-bottom: 20px;
				color: $white;
				line-height: 1;
			}
			
			h1:before {
				display: none;
			}

			h1:after  {
				// left: 0;
				// width: 165px;
				// height: 3px;
				background-color: transparent;
			}
		}

		p {
			width: 100%;
			font-size: rem(14);
		}		
	}
}

#contact,
#quick-message {
	h1 {
		margin: 0 auto 18px auto;
		padding: 0;
		width: 245px;
	}

	h1:before {
		left: 0;
		background-color: $blue;
	}

	h1:after {
		left: 26px;
		width: 65%;
	}

	h1, p {
		text-align: center;
	}

	p {		
		margin: 0 15%;
	}
}

#contact {
	p {
		width: 50%;
		margin: 0 22%;
	}
}

#quick-message {
	h1 {
		width: 370px;
		padding-left: 25px;
	}

	h1:before {
		left: 0;
		background-color: $blue;
	}

	h1:after {
		width: 73%;
		left: 29px;
		background-color: $white;
	}
}

#contact-info {
	h2 {
		position: relative;
		font-family: $font-thick;
		font-size: rem(24);
		text-transform: uppercase;
		text-align: center;
	}

	h2:after {
		position: absolute;
		height: 3px;
		width: 160px;
		bottom: -2px;
		left: 50%;
		margin-left: -80px;
		background-color: $black;
		content: '';		
	}

	p {
		text-align: center;
	}	
}

.overlay {
	h1 {
		padding-top: 5px;
		font-family: $font-thick;
		font-size: rem(30);
		color: #FFF;		
	}

		h1:before {
			display: none;
		}	
}