// Font that was used on my portfolio for the headesr on the work items
@font-face {
    font-family: 'arial_blackregular';
    src: url('../fonts/arial_black/arial_black-webfont.eot');
    src: url('../fonts/arial_black/arial_black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arial_black/arial_black-webfont.woff2') format('woff2'),
         url('../fonts/arial_black/arial_black-webfont.woff') format('woff'),
         url('../fonts/arial_black/arial_black-webfont.svg#arial_blackregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futuraLT';
    src: url('../fonts/futuraLT/futuraLT-CondensedBold.eot');
    src: url('../fonts/futuraLT/futuraLT-CondensedBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futuraLT/futuraLT-CondensedBold.woff') format('woff'),
         url('../fonts/futuraLT/futuraLT-CondensedBold.svg#futuraLT') format('svg');
    font-weight: normal;
    font-style: normal;
}

section header {
	@include clearfix();
	margin-bottom: 10px;
	overflow: hidden;
}

p, li {
	font-size: $text-size;
	line-height: 1.5;
}

// Global section headers with intro paragaph
header {
	h1 {
		position: relative;
		margin: 0px;
		padding-right: 25px;
		font-family: $font-thick;
		font-size: rem(36);
		text-transform: uppercase;
		@extend .antialiased;
	}
		
		// Color bar
		h1:before {
			position: absolute;
			right: 0;
			top: 27%;
			height: 37px;
			width: 15px;
			background-color: $red;
			content: '';
		}
		
		// Underline
		h1:after {
			position: absolute;
			bottom: 0;
			height: 5px;
			background-color: $black;
			content: '';
		}

		p {			
			width: 70%;
			clear: both;
		}
}

#site-header {
	position: relative;
	z-index: 10;
	
	h1 {
		float: left;
		width: auto;
		padding-top: 10px;
		font-size: rem(30);
		z-index: 1;
		
		img {
			width: 50%;
		}

		span {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
	}

	h1:before,
	h1:after {
		display: none;
	}

	p {
		font-size: 0.8rem;
		//@include hide-text;
	}
}

#section-what-we-do-outer  {
	header {
		h1, h2, p {
			color: $white;	
		}		

		h1 {
			font-size: rem(48);
			padding-left: 25px;
			
			@include media($mobile) {
				font-size: rem(40);
			}
			
			&:before {
				left: 0;
				background: $blue;
			}
		}

		h2 {
			font-size: rem(40);
			margin: 0;
			line-height: 1.2em;
			font-family: $font-thick;
			
				.hl-wrapper {
					position: relative;
					display: inline-block;
					z-index: 10;
					text-transform: uppercase;
						
						.hl {
							position: absolute;
							left: 0;
							bottom: -3px;
							width: 100%;
							height: 20px;
							background: $blue;
							z-index: -1;
							
								&.green {
									background: $blue;
								}
						}
				}
		}

		.what-we-do-list {
			width: 100%;			
			margin: 60px 0 10px 0;
			font-size: rem(22);
			text-align: center;
			font-family: $font-thick;
			font-weight: bold;
		}
	}

	h2.category {
		font-family: $font-thick;
		text-align: center;
		color: $white;	
		text-transform: uppercase;
		font-size: rem(30);
		padding-top: 20px;
		clear: both;
	}	

	h2.category:nth-of-type(2n) {
		margin-top: 75px;
	}		

	p.category-outline {
		text-align: center;
		color: $white;
		padding: 0 23%;
		
			@include media($mobile) {
				padding: 0 3%;
			}			
	}

	.hr {
		width: 50px;
		height: 3px;
		margin: 0 auto;
		background: $blue;
		clear: both;
	}
}

#section-who-we-are,
#case-study {
	h1, p {
		width: 100%;
	}
	
	h1:before {
		display: none;
	}

	h1:after {
		left: 0;
		width: 222px;;
	}
}

#section-work {
	h1, p {
		float: right;
		text-align: right;
	}

	h1:after {
		right: 25px;
	 	width: 72%;
	}
}

#section-services,
#section-clients,
#page-error-404 {
	h1, p {
		float: left;
		text-align: left;
	}
	
	h1 {
		padding-left: 25px;
	}

	h1:before {
		left: 0;
		background-color: $green;
	}

	h1:after {
		left: 25px;
	 	width: 61%;		
	}
}

#error-404 {
	h1 {
		line-height: 1em;
		padding-bottom: 6px;
		padding-left: 25px;

			&:before {
				top: 0;
			}

			&:after {
				left: 25px;
				width: 36%;
			}
	}
}

#section-services {
	h1:before {
		left: 0;
		background-color: $yellow;
	}
}

#error-404 {
	h1:before {
		left: 0;
		background-color: $red;
	}		
}

#case-study {
	#case-study-info {
		header {			
			h1:before {
				display: none;
			}
			
			p {
				margin: 0;
				font-weight: bold;
			}
		}

		h2 {
			font-family: $font-thick;
			font-size: rem(18);
			text-transform: uppercase;
			line-height: 1;
			color: $white;
		}		

		p, li {
			width: 100%;
			font-size: rem(14);
		}

		p, a, li {
			color: $white;
		}
	}
}

#section-contact,
#quick-message {
	h1 {
		margin: 0 auto 18px auto;
		padding: 0;
		width: 245px;
		text-align: center;
	}

	h1:before {
		left: 0;
		background-color: $blue;
	}

	h1:after {
		left: 26px;
		width: 65%;
	}

	p {
		margin: 0 15%;
		text-align: center;
	}
}

#section-contact {
	p {
		width: 50%;
		margin: 0 22%;
	}
}

#quick-message {
	h1 {
		width: 400px;
		padding-left: 25px;
		text-align: left;
		color: $white;
	}

	h1:before {
		left: 0;
		background-color: $blue;
	}

	h1:after {
		width: 73%;
		left: 29px;
		background-color: $white;
	}

	p {
		color: $white;
		text-align: center;
	}	
}

#contact-info {
	h2 {
		position: relative;
		font-family: $font-thick;
		font-size: rem(24);
		text-transform: uppercase;
		text-align: center;
	}

	h2:after {
		position: absolute;
		height: 3px;
		width: 160px;
		bottom: -2px;
		left: 50%;
		margin-left: -80px;
		background-color: $black;
		content: '';		
	}

	p {
		text-align: center;
	}	
}

.overlay {
	h1 {
		padding-top: 5px;
		font-family: $font-thick;
		font-size: rem(30);
		color: #FFF;		
	}

		h1:before {
			display: none;
		}	
}

.what-we-do-cta {
	-moz-box-shadow:inset 0px -3px 7px 0px #29bbff;
	-webkit-box-shadow:inset 0px -3px 7px 0px #29bbff;
	box-shadow:inset 0px -3px 7px 0px #29bbff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2dabf9), color-stop(1, #0688fa));
	background:-moz-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:-webkit-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:-o-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:-ms-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2dabf9', endColorstr='#0688fa',GradientType=0);
	background-color:#2dabf9;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
	text-transform: uppercase;
	margin-top: 25px;
}
.what-we-do-cta:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0688fa), color-stop(1, #2dabf9));
	background:-moz-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
	background:-webkit-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
	background:-o-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
	background:-ms-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
	background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0688fa', endColorstr='#2dabf9',GradientType=0);
	background-color:#0688fa;
}
.what-we-do-cta:active {
	position:relative;
	top:0px;
}
