section header {
	@include clearfix();
	margin-bottom: 10px;
}

p {
	font-size: $text-size;
	line-height: 1.5;
}

li {
	list-style: none;
}

// Global section headers with intro paragaph
header {
	h1 {
		position: relative;
		margin: 0;
		padding-right: 25px;
		font-family: $font-thick;
		font-size: rem(36);
		text-transform: uppercase;
	}
		
		// Color bar
		h1:before {
			position: absolute;
			right: 0;
			top: 27%;
			height: 37px;
			width: 15px;
			background-color: $red;
			content: '';
		}
		
		// Underline
		h1:after {
			position: absolute;
			bottom: 0;
			height: 5px;
			background-color: $black;
			content: '';
		}

		p {			
			width: 70%;
			clear: both;
		}
}

#logo {
	h1 {
		float: left;
		width: 380px;
		padding-top: 5px;
		font-size: rem(30);
		z-index: 1;		
	}

	h1:before {
		display: none;
	}
}

#what-we-do {
	h1, p {
		width: 100%;
	}
	
	h1:before {
		display: none;
	}

	h1:after {
		left: 0;
		width: 222px;;
	}
}

#work {
	h1, p {
		float: right;
		text-align: right;
	}

	h1:after {
		right: 25px;
	 	width: 72%;		
	}
}

#clients {
	h1, p {
		float: left;
		text-align: left;
	}
	
	h1 {
		padding-left: 25px;
	}

	h1:after {
		left: 25px;
	 	width: 61%;		
	}

	h1:before {
		left: 0;
		background-color: $green;
	}	
}

#contact {
	h1 {
		margin: 0 auto 18px auto;
		padding: 0;
		width: 245px;
	}

	h1:before {
		left: 0;
		background-color: $blue;
	}

	h1:after {
		left: 26px;
		width: 65%;
	}

	h1, p {
		text-align: center;
	}

	p {		
		margin: 0 15%;
	}
}

#contact-info {
	h2 {
		position: relative;
		font-family: $font-thick;
		font-size: rem(24);
		text-transform: uppercase;
		text-align: center;
	}

	h2:after {
		position: absolute;
		height: 3px;
		width: 50%;
		bottom: -2px;
		left: 50%;
		margin-left: -80px;
		background-color: $black;
		content: '';		
	}

	p {
		text-align: center;
	}	
}

.overlay {
	h1 {
		position: absolute;
		top: 0;
		left: 30px;
		padding: 10px 0 0 25px;
		font-family: $font-thick;
		font-size: rem(30);
	}

		h1:before {
			display: none;
		}	
}